@use '../../../scss/media';

.landing_sales {
   margin-top: 120px;
   margin-top: media.fl(120, 80);

   @include media.desktop {
      margin-top: 80px;
   }

   @include media.tablet {
      margin-top: 60px;
   }

   @include media.mobile {
      margin-top: 30px;
   }

   &_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 40px;
      row-gap: media.fl(40, 24);
      padding: 140px 20px;
      padding: media.fl(140, 100) 20px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;

      @include media.desktop {
         padding: 100px 20px;
         row-gap: 24px;
      }

      @include media.mobile {
         border-radius: 10px;
         padding: 120px 20px;
      }

      &-title {
         color: #FFF;
         text-align: center;
         font-size: 42px;
         font-size: media.fl(42, 36);
         font-weight: 400;
         line-height: 48px;
         line-height: media.fl(48, 42);
         letter-spacing: -0.84px;

         position: relative;
         z-index: 1;

         @include media.desktop {
            font-size: 36px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: -0.72px;
         }

         @include media.mobile {
            padding: 0 10px;
         }
      }

      &-btn {

         .btn {}
      }
   }
}