@use "../../scss/media";

.product_page {
   margin-top: 0px;

   .container {
      overflow: visible;
   }

   .product_head-first {
      position: relative;
      max-width: 100%;
      margin: 0;
      row-gap: 0;
      display: block;
      padding: 80px 0 100px 0;
      padding: media.fl(80, 60) 0 media.fl(100, 80) 0;
      min-height: calc(100% - 82px);
      min-height: calc(100dvh - media.fl(82, 50));

      @include media.desktop {
         padding: 60px 0 80px 0;
         min-height: calc(100dvh - 50px);
      }

      @include media.tablet {
         padding-top: 30px;
         padding-bottom: 50px;
         min-height: unset;
      }

      @include media.mobile {
         padding-top: 60px;
         padding-bottom: 40px;
      }


      &::before {
         content: '';
         display: block;
         width: calc(100vw + 2px);
         height: calc(100% + 82px);
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         background: var(--radial);
         z-index: 1;
         user-select: none;
         pointer-events: none;
      }

      &::after {
         content: '';
         display: block;
         width: 100vw;
         height: calc(100% + 82px);
         background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221900%22%20height%3D%2252%22%20viewBox%3D%220%200%201900%2052%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%2024C3.10457%2024%204%2024.8954%204%2026C4%2027.1046%203.10457%2028%202%2028C0.89543%2028%200%2027.1046%200%2026C0%2024.8954%200.89543%2024%202%2024ZM26%2024C27.1046%2024%2028%2024.8954%2028%2026C28%2027.1046%2027.1046%2028%2026%2028C24.8954%2028%2024%2027.1046%2024%2026C24%2024.8954%2024.8954%2024%2026%2024ZM50%2024C51.1046%2024%2052%2024.8954%2052%2026C52%2027.1046%2051.1046%2028%2050%2028C48.8954%2028%2048%2027.1046%2048%2026C48%2024.8954%2048.8954%2024%2050%2024ZM74%2024C75.1046%2024%2076%2024.8954%2076%2026C76%2027.1046%2075.1046%2028%2074%2028C72.8954%2028%2072%2027.1046%2072%2026C72%2024.8954%2072.8954%2024%2074%2024ZM98%2024C99.1046%2024%20100%2024.8954%20100%2026C100%2027.1046%2099.1046%2028%2098%2028C96.8954%2028%2096%2027.1046%2096%2026C96%2024.8954%2096.8954%2024%2098%2024ZM122%2024C123.105%2024%20124%2024.8954%20124%2026C124%2027.1046%20123.105%2028%20122%2028C120.895%2028%20120%2027.1046%20120%2026C120%2024.8954%20120.895%2024%20122%2024ZM146%2024C147.105%2024%20148%2024.8954%20148%2026C148%2027.1046%20147.105%2028%20146%2028C144.895%2028%20144%2027.1046%20144%2026C144%2024.8954%20144.895%2024%20146%2024ZM170%2024C171.105%2024%20172%2024.8954%20172%2026C172%2027.1046%20171.105%2028%20170%2028C168.895%2028%20168%2027.1046%20168%2026C168%2024.8954%20168.895%2024%20170%2024ZM194%2024C195.105%2024%20196%2024.8954%20196%2026C196%2027.1046%20195.105%2028%20194%2028C192.895%2028%20192%2027.1046%20192%2026C192%2024.8954%20192.895%2024%20194%2024ZM218%2024C219.105%2024%20220%2024.8954%20220%2026C220%2027.1046%20219.105%2028%20218%2028C216.895%2028%20216%2027.1046%20216%2026C216%2024.8954%20216.895%2024%20218%2024ZM242%2024C243.105%2024%20244%2024.8954%20244%2026C244%2027.1046%20243.105%2028%20242%2028C240.895%2028%20240%2027.1046%20240%2026C240%2024.8954%20240.895%2024%20242%2024ZM266%2024C267.105%2024%20268%2024.8954%20268%2026C268%2027.1046%20267.105%2028%20266%2028C264.895%2028%20264%2027.1046%20264%2026C264%2024.8954%20264.895%2024%20266%2024ZM290%2024C291.105%2024%20292%2024.8954%20292%2026C292%2027.1046%20291.105%2028%20290%2028C288.895%2028%20288%2027.1046%20288%2026C288%2024.8954%20288.895%2024%20290%2024ZM314%2024C315.105%2024%20316%2024.8954%20316%2026C316%2027.1046%20315.105%2028%20314%2028C312.895%2028%20312%2027.1046%20312%2026C312%2024.8954%20312.895%2024%20314%2024ZM338%2024C339.105%2024%20340%2024.8954%20340%2026C340%2027.1046%20339.105%2028%20338%2028C336.895%2028%20336%2027.1046%20336%2026C336%2024.8954%20336.895%2024%20338%2024ZM362%2024C363.105%2024%20364%2024.8954%20364%2026C364%2027.1046%20363.105%2028%20362%2028C360.895%2028%20360%2027.1046%20360%2026C360%2024.8954%20360.895%2024%20362%2024ZM386%2024C387.105%2024%20388%2024.8954%20388%2026C388%2027.1046%20387.105%2028%20386%2028C384.895%2028%20384%2027.1046%20384%2026C384%2024.8954%20384.895%2024%20386%2024ZM410%2024C411.105%2024%20412%2024.8954%20412%2026C412%2027.1046%20411.105%2028%20410%2028C408.895%2028%20408%2027.1046%20408%2026C408%2024.8954%20408.895%2024%20410%2024ZM434%2024C435.105%2024%20436%2024.8954%20436%2026C436%2027.1046%20435.105%2028%20434%2028C432.895%2028%20432%2027.1046%20432%2026C432%2024.8954%20432.895%2024%20434%2024ZM458%2024C459.105%2024%20460%2024.8954%20460%2026C460%2027.1046%20459.105%2028%20458%2028C456.895%2028%20456%2027.1046%20456%2026C456%2024.8954%20456.895%2024%20458%2024ZM482%2024C483.105%2024%20484%2024.8954%20484%2026C484%2027.1046%20483.105%2028%20482%2028C480.895%2028%20480%2027.1046%20480%2026C480%2024.8954%20480.895%2024%20482%2024ZM506%2024C507.105%2024%20508%2024.8954%20508%2026C508%2027.1046%20507.105%2028%20506%2028C504.895%2028%20504%2027.1046%20504%2026C504%2024.8954%20504.895%2024%20506%2024ZM530%2024C531.105%2024%20532%2024.8954%20532%2026C532%2027.1046%20531.105%2028%20530%2028C528.895%2028%20528%2027.1046%20528%2026C528%2024.8954%20528.895%2024%20530%2024ZM554%2024C555.105%2024%20556%2024.8954%20556%2026C556%2027.1046%20555.105%2028%20554%2028C552.895%2028%20552%2027.1046%20552%2026C552%2024.8954%20552.895%2024%20554%2024ZM578%2024C579.105%2024%20580%2024.8954%20580%2026C580%2027.1046%20579.105%2028%20578%2028C576.895%2028%20576%2027.1046%20576%2026C576%2024.8954%20576.895%2024%20578%2024ZM602%2024C603.105%2024%20604%2024.8954%20604%2026C604%2027.1046%20603.105%2028%20602%2028C600.895%2028%20600%2027.1046%20600%2026C600%2024.8954%20600.895%2024%20602%2024ZM626%2024C627.105%2024%20628%2024.8954%20628%2026C628%2027.1046%20627.105%2028%20626%2028C624.895%2028%20624%2027.1046%20624%2026C624%2024.8954%20624.895%2024%20626%2024ZM650%2024C651.105%2024%20652%2024.8954%20652%2026C652%2027.1046%20651.105%2028%20650%2028C648.895%2028%20648%2027.1046%20648%2026C648%2024.8954%20648.895%2024%20650%2024ZM674%2024C675.105%2024%20676%2024.8954%20676%2026C676%2027.1046%20675.105%2028%20674%2028C672.895%2028%20672%2027.1046%20672%2026C672%2024.8954%20672.895%2024%20674%2024ZM698%2024C699.105%2024%20700%2024.8954%20700%2026C700%2027.1046%20699.105%2028%20698%2028C696.895%2028%20696%2027.1046%20696%2026C696%2024.8954%20696.895%2024%20698%2024ZM722%2024C723.105%2024%20724%2024.8954%20724%2026C724%2027.1046%20723.105%2028%20722%2028C720.895%2028%20720%2027.1046%20720%2026C720%2024.8954%20720.895%2024%20722%2024ZM746%2024C747.105%2024%20748%2024.8954%20748%2026C748%2027.1046%20747.105%2028%20746%2028C744.895%2028%20744%2027.1046%20744%2026C744%2024.8954%20744.895%2024%20746%2024ZM770%2024C771.105%2024%20772%2024.8954%20772%2026C772%2027.1046%20771.105%2028%20770%2028C768.895%2028%20768%2027.1046%20768%2026C768%2024.8954%20768.895%2024%20770%2024ZM794%2024C795.105%2024%20796%2024.8954%20796%2026C796%2027.1046%20795.105%2028%20794%2028C792.895%2028%20792%2027.1046%20792%2026C792%2024.8954%20792.895%2024%20794%2024ZM818%2024C819.105%2024%20820%2024.8954%20820%2026C820%2027.1046%20819.105%2028%20818%2028C816.895%2028%20816%2027.1046%20816%2026C816%2024.8954%20816.895%2024%20818%2024ZM842%2024C843.105%2024%20844%2024.8954%20844%2026C844%2027.1046%20843.105%2028%20842%2028C840.895%2028%20840%2027.1046%20840%2026C840%2024.8954%20840.895%2024%20842%2024ZM866%2024C867.105%2024%20868%2024.8954%20868%2026C868%2027.1046%20867.105%2028%20866%2028C864.895%2028%20864%2027.1046%20864%2026C864%2024.8954%20864.895%2024%20866%2024ZM890%2024C891.105%2024%20892%2024.8954%20892%2026C892%2027.1046%20891.105%2028%20890%2028C888.895%2028%20888%2027.1046%20888%2026C888%2024.8954%20888.895%2024%20890%2024ZM914%2024C915.105%2024%20916%2024.8954%20916%2026C916%2027.1046%20915.105%2028%20914%2028C912.895%2028%20912%2027.1046%20912%2026C912%2024.8954%20912.895%2024%20914%2024ZM938%2024C939.105%2024%20940%2024.8954%20940%2026C940%2027.1046%20939.105%2028%20938%2028C936.895%2028%20936%2027.1046%20936%2026C936%2024.8954%20936.895%2024%20938%2024ZM962%2024C963.105%2024%20964%2024.8954%20964%2026C964%2027.1046%20963.105%2028%20962%2028C960.895%2028%20960%2027.1046%20960%2026C960%2024.8954%20960.895%2024%20962%2024ZM986%2024C987.105%2024%20988%2024.8954%20988%2026C988%2027.1046%20987.105%2028%20986%2028C984.895%2028%20984%2027.1046%20984%2026C984%2024.8954%20984.895%2024%20986%2024ZM1010%2024C1011.1%2024%201012%2024.8954%201012%2026C1012%2027.1046%201011.1%2028%201010%2028C1008.9%2028%201008%2027.1046%201008%2026C1008%2024.8954%201008.9%2024%201010%2024ZM1034%2024C1035.1%2024%201036%2024.8954%201036%2026C1036%2027.1046%201035.1%2028%201034%2028C1032.9%2028%201032%2027.1046%201032%2026C1032%2024.8954%201032.9%2024%201034%2024ZM1058%2024C1059.1%2024%201060%2024.8954%201060%2026C1060%2027.1046%201059.1%2028%201058%2028C1056.9%2028%201056%2027.1046%201056%2026C1056%2024.8954%201056.9%2024%201058%2024ZM1082%2024C1083.1%2024%201084%2024.8954%201084%2026C1084%2027.1046%201083.1%2028%201082%2028C1080.9%2028%201080%2027.1046%201080%2026C1080%2024.8954%201080.9%2024%201082%2024ZM1106%2024C1107.1%2024%201108%2024.8954%201108%2026C1108%2027.1046%201107.1%2028%201106%2028C1104.9%2028%201104%2027.1046%201104%2026C1104%2024.8954%201104.9%2024%201106%2024ZM1130%2024C1131.1%2024%201132%2024.8954%201132%2026C1132%2027.1046%201131.1%2028%201130%2028C1128.9%2028%201128%2027.1046%201128%2026C1128%2024.8954%201128.9%2024%201130%2024ZM1154%2024C1155.1%2024%201156%2024.8954%201156%2026C1156%2027.1046%201155.1%2028%201154%2028C1152.9%2028%201152%2027.1046%201152%2026C1152%2024.8954%201152.9%2024%201154%2024ZM1178%2024C1179.1%2024%201180%2024.8954%201180%2026C1180%2027.1046%201179.1%2028%201178%2028C1176.9%2028%201176%2027.1046%201176%2026C1176%2024.8954%201176.9%2024%201178%2024ZM1202%2024C1203.1%2024%201204%2024.8954%201204%2026C1204%2027.1046%201203.1%2028%201202%2028C1200.9%2028%201200%2027.1046%201200%2026C1200%2024.8954%201200.9%2024%201202%2024ZM1226%2024C1227.1%2024%201228%2024.8954%201228%2026C1228%2027.1046%201227.1%2028%201226%2028C1224.9%2028%201224%2027.1046%201224%2026C1224%2024.8954%201224.9%2024%201226%2024ZM1250%2024C1251.1%2024%201252%2024.8954%201252%2026C1252%2027.1046%201251.1%2028%201250%2028C1248.9%2028%201248%2027.1046%201248%2026C1248%2024.8954%201248.9%2024%201250%2024ZM1274%2024C1275.1%2024%201276%2024.8954%201276%2026C1276%2027.1046%201275.1%2028%201274%2028C1272.9%2028%201272%2027.1046%201272%2026C1272%2024.8954%201272.9%2024%201274%2024ZM1298%2024C1299.1%2024%201300%2024.8954%201300%2026C1300%2027.1046%201299.1%2028%201298%2028C1296.9%2028%201296%2027.1046%201296%2026C1296%2024.8954%201296.9%2024%201298%2024ZM1322%2024C1323.1%2024%201324%2024.8954%201324%2026C1324%2027.1046%201323.1%2028%201322%2028C1320.9%2028%201320%2027.1046%201320%2026C1320%2024.8954%201320.9%2024%201322%2024ZM1346%2024C1347.1%2024%201348%2024.8954%201348%2026C1348%2027.1046%201347.1%2028%201346%2028C1344.9%2028%201344%2027.1046%201344%2026C1344%2024.8954%201344.9%2024%201346%2024ZM1370%2024C1371.1%2024%201372%2024.8954%201372%2026C1372%2027.1046%201371.1%2028%201370%2028C1368.9%2028%201368%2027.1046%201368%2026C1368%2024.8954%201368.9%2024%201370%2024ZM1394%2024C1395.1%2024%201396%2024.8954%201396%2026C1396%2027.1046%201395.1%2028%201394%2028C1392.9%2028%201392%2027.1046%201392%2026C1392%2024.8954%201392.9%2024%201394%2024ZM1418%2024C1419.1%2024%201420%2024.8954%201420%2026C1420%2027.1046%201419.1%2028%201418%2028C1416.9%2028%201416%2027.1046%201416%2026C1416%2024.8954%201416.9%2024%201418%2024ZM1442%2024C1443.1%2024%201444%2024.8954%201444%2026C1444%2027.1046%201443.1%2028%201442%2028C1440.9%2028%201440%2027.1046%201440%2026C1440%2024.8954%201440.9%2024%201442%2024ZM1466%2024C1467.1%2024%201468%2024.8954%201468%2026C1468%2027.1046%201467.1%2028%201466%2028C1464.9%2028%201464%2027.1046%201464%2026C1464%2024.8954%201464.9%2024%201466%2024ZM1490%2024C1491.1%2024%201492%2024.8954%201492%2026C1492%2027.1046%201491.1%2028%201490%2028C1488.9%2028%201488%2027.1046%201488%2026C1488%2024.8954%201488.9%2024%201490%2024ZM1514%2024C1515.1%2024%201516%2024.8954%201516%2026C1516%2027.1046%201515.1%2028%201514%2028C1512.9%2028%201512%2027.1046%201512%2026C1512%2024.8954%201512.9%2024%201514%2024ZM1538%2024C1539.1%2024%201540%2024.8954%201540%2026C1540%2027.1046%201539.1%2028%201538%2028C1536.9%2028%201536%2027.1046%201536%2026C1536%2024.8954%201536.9%2024%201538%2024ZM1562%2024C1563.1%2024%201564%2024.8954%201564%2026C1564%2027.1046%201563.1%2028%201562%2028C1560.9%2028%201560%2027.1046%201560%2026C1560%2024.8954%201560.9%2024%201562%2024ZM1586%2024C1587.1%2024%201588%2024.8954%201588%2026C1588%2027.1046%201587.1%2028%201586%2028C1584.9%2028%201584%2027.1046%201584%2026C1584%2024.8954%201584.9%2024%201586%2024ZM1610%2024C1611.1%2024%201612%2024.8954%201612%2026C1612%2027.1046%201611.1%2028%201610%2028C1608.9%2028%201608%2027.1046%201608%2026C1608%2024.8954%201608.9%2024%201610%2024ZM1634%2024C1635.1%2024%201636%2024.8954%201636%2026C1636%2027.1046%201635.1%2028%201634%2028C1632.9%2028%201632%2027.1046%201632%2026C1632%2024.8954%201632.9%2024%201634%2024ZM1658%2024C1659.1%2024%201660%2024.8954%201660%2026C1660%2027.1046%201659.1%2028%201658%2028C1656.9%2028%201656%2027.1046%201656%2026C1656%2024.8954%201656.9%2024%201658%2024ZM1682%2024C1683.1%2024%201684%2024.8954%201684%2026C1684%2027.1046%201683.1%2028%201682%2028C1680.9%2028%201680%2027.1046%201680%2026C1680%2024.8954%201680.9%2024%201682%2024ZM1706%2024C1707.1%2024%201708%2024.8954%201708%2026C1708%2027.1046%201707.1%2028%201706%2028C1704.9%2028%201704%2027.1046%201704%2026C1704%2024.8954%201704.9%2024%201706%2024ZM1730%2024C1731.1%2024%201732%2024.8954%201732%2026C1732%2027.1046%201731.1%2028%201730%2028C1728.9%2028%201728%2027.1046%201728%2026C1728%2024.8954%201728.9%2024%201730%2024ZM1754%2024C1755.1%2024%201756%2024.8954%201756%2026C1756%2027.1046%201755.1%2028%201754%2028C1752.9%2028%201752%2027.1046%201752%2026C1752%2024.8954%201752.9%2024%201754%2024ZM1778%2024C1779.1%2024%201780%2024.8954%201780%2026C1780%2027.1046%201779.1%2028%201778%2028C1776.9%2028%201776%2027.1046%201776%2026C1776%2024.8954%201776.9%2024%201778%2024ZM1802%2024C1803.1%2024%201804%2024.8954%201804%2026C1804%2027.1046%201803.1%2028%201802%2028C1800.9%2028%201800%2027.1046%201800%2026C1800%2024.8954%201800.9%2024%201802%2024ZM1826%2024C1827.1%2024%201828%2024.8954%201828%2026C1828%2027.1046%201827.1%2028%201826%2028C1824.9%2028%201824%2027.1046%201824%2026C1824%2024.8954%201824.9%2024%201826%2024ZM1850%2024C1851.1%2024%201852%2024.8954%201852%2026C1852%2027.1046%201851.1%2028%201850%2028C1848.9%2028%201848%2027.1046%201848%2026C1848%2024.8954%201848.9%2024%201850%2024ZM1874%2024C1875.1%2024%201876%2024.8954%201876%2026C1876%2027.1046%201875.1%2028%201874%2028C1872.9%2028%201872%2027.1046%201872%2026C1872%2024.8954%201872.9%2024%201874%2024ZM1898%2024C1899.1%2024%201900%2024.8954%201900%2026C1900%2027.1046%201899.1%2028%201898%2028C1896.9%2028%201896%2027.1046%201896%2026C1896%2024.8954%201896.9%2024%201898%2024ZM2%200C3.10457%200%204%200.89543%204%202C4%203.10457%203.10457%204%202%204C0.89543%204%200%203.10457%200%202C0%200.89543%200.89543%200%202%200ZM26%200C27.1046%200%2028%200.89543%2028%202C28%203.10457%2027.1046%204%2026%204C24.8954%204%2024%203.10457%2024%202C24%200.89543%2024.8954%200%2026%200ZM50%200C51.1046%200%2052%200.89543%2052%202C52%203.10457%2051.1046%204%2050%204C48.8954%204%2048%203.10457%2048%202C48%200.89543%2048.8954%200%2050%200ZM74%200C75.1046%200%2076%200.89543%2076%202C76%203.10457%2075.1046%204%2074%204C72.8954%204%2072%203.10457%2072%202C72%200.89543%2072.8954%200%2074%200ZM98%200C99.1046%200%20100%200.89543%20100%202C100%203.10457%2099.1046%204%2098%204C96.8954%204%2096%203.10457%2096%202C96%200.89543%2096.8954%200%2098%200ZM122%200C123.105%200%20124%200.89543%20124%202C124%203.10457%20123.105%204%20122%204C120.895%204%20120%203.10457%20120%202C120%200.89543%20120.895%200%20122%200ZM146%200C147.105%200%20148%200.89543%20148%202C148%203.10457%20147.105%204%20146%204C144.895%204%20144%203.10457%20144%202C144%200.89543%20144.895%200%20146%200ZM170%200C171.105%200%20172%200.89543%20172%202C172%203.10457%20171.105%204%20170%204C168.895%204%20168%203.10457%20168%202C168%200.89543%20168.895%200%20170%200ZM194%200C195.105%200%20196%200.89543%20196%202C196%203.10457%20195.105%204%20194%204C192.895%204%20192%203.10457%20192%202C192%200.89543%20192.895%200%20194%200ZM218%200C219.105%200%20220%200.89543%20220%202C220%203.10457%20219.105%204%20218%204C216.895%204%20216%203.10457%20216%202C216%200.89543%20216.895%200%20218%200ZM242%200C243.105%200%20244%200.89543%20244%202C244%203.10457%20243.105%204%20242%204C240.895%204%20240%203.10457%20240%202C240%200.89543%20240.895%200%20242%200ZM266%200C267.105%200%20268%200.89543%20268%202C268%203.10457%20267.105%204%20266%204C264.895%204%20264%203.10457%20264%202C264%200.89543%20264.895%200%20266%200ZM290%200C291.105%200%20292%200.89543%20292%202C292%203.10457%20291.105%204%20290%204C288.895%204%20288%203.10457%20288%202C288%200.89543%20288.895%200%20290%200ZM314%200C315.105%200%20316%200.89543%20316%202C316%203.10457%20315.105%204%20314%204C312.895%204%20312%203.10457%20312%202C312%200.89543%20312.895%200%20314%200ZM338%200C339.105%200%20340%200.89543%20340%202C340%203.10457%20339.105%204%20338%204C336.895%204%20336%203.10457%20336%202C336%200.89543%20336.895%200%20338%200ZM362%200C363.105%200%20364%200.89543%20364%202C364%203.10457%20363.105%204%20362%204C360.895%204%20360%203.10457%20360%202C360%200.89543%20360.895%200%20362%200ZM386%200C387.105%200%20388%200.89543%20388%202C388%203.10457%20387.105%204%20386%204C384.895%204%20384%203.10457%20384%202C384%200.89543%20384.895%200%20386%200ZM410%200C411.105%200%20412%200.89543%20412%202C412%203.10457%20411.105%204%20410%204C408.895%204%20408%203.10457%20408%202C408%200.89543%20408.895%200%20410%200ZM434%200C435.105%200%20436%200.89543%20436%202C436%203.10457%20435.105%204%20434%204C432.895%204%20432%203.10457%20432%202C432%200.89543%20432.895%200%20434%200ZM458%200C459.105%200%20460%200.89543%20460%202C460%203.10457%20459.105%204%20458%204C456.895%204%20456%203.10457%20456%202C456%200.89543%20456.895%200%20458%200ZM482%200C483.105%200%20484%200.89543%20484%202C484%203.10457%20483.105%204%20482%204C480.895%204%20480%203.10457%20480%202C480%200.89543%20480.895%200%20482%200ZM506%200C507.105%200%20508%200.89543%20508%202C508%203.10457%20507.105%204%20506%204C504.895%204%20504%203.10457%20504%202C504%200.89543%20504.895%200%20506%200ZM530%200C531.105%200%20532%200.89543%20532%202C532%203.10457%20531.105%204%20530%204C528.895%204%20528%203.10457%20528%202C528%200.89543%20528.895%200%20530%200ZM554%200C555.105%200%20556%200.89543%20556%202C556%203.10457%20555.105%204%20554%204C552.895%204%20552%203.10457%20552%202C552%200.89543%20552.895%200%20554%200ZM578%200C579.105%200%20580%200.89543%20580%202C580%203.10457%20579.105%204%20578%204C576.895%204%20576%203.10457%20576%202C576%200.89543%20576.895%200%20578%200ZM602%200C603.105%200%20604%200.89543%20604%202C604%203.10457%20603.105%204%20602%204C600.895%204%20600%203.10457%20600%202C600%200.89543%20600.895%200%20602%200ZM626%200C627.105%200%20628%200.89543%20628%202C628%203.10457%20627.105%204%20626%204C624.895%204%20624%203.10457%20624%202C624%200.89543%20624.895%200%20626%200ZM650%200C651.105%200%20652%200.89543%20652%202C652%203.10457%20651.105%204%20650%204C648.895%204%20648%203.10457%20648%202C648%200.89543%20648.895%200%20650%200ZM674%200C675.105%200%20676%200.89543%20676%202C676%203.10457%20675.105%204%20674%204C672.895%204%20672%203.10457%20672%202C672%200.89543%20672.895%200%20674%200ZM698%200C699.105%200%20700%200.89543%20700%202C700%203.10457%20699.105%204%20698%204C696.895%204%20696%203.10457%20696%202C696%200.89543%20696.895%200%20698%200ZM722%200C723.105%200%20724%200.89543%20724%202C724%203.10457%20723.105%204%20722%204C720.895%204%20720%203.10457%20720%202C720%200.89543%20720.895%200%20722%200ZM746%200C747.105%200%20748%200.89543%20748%202C748%203.10457%20747.105%204%20746%204C744.895%204%20744%203.10457%20744%202C744%200.89543%20744.895%200%20746%200ZM770%200C771.105%200%20772%200.89543%20772%202C772%203.10457%20771.105%204%20770%204C768.895%204%20768%203.10457%20768%202C768%200.89543%20768.895%200%20770%200ZM794%200C795.105%200%20796%200.89543%20796%202C796%203.10457%20795.105%204%20794%204C792.895%204%20792%203.10457%20792%202C792%200.89543%20792.895%200%20794%200ZM818%200C819.105%200%20820%200.89543%20820%202C820%203.10457%20819.105%204%20818%204C816.895%204%20816%203.10457%20816%202C816%200.89543%20816.895%200%20818%200ZM842%200C843.105%200%20844%200.89543%20844%202C844%203.10457%20843.105%204%20842%204C840.895%204%20840%203.10457%20840%202C840%200.89543%20840.895%200%20842%200ZM866%200C867.105%200%20868%200.89543%20868%202C868%203.10457%20867.105%204%20866%204C864.895%204%20864%203.10457%20864%202C864%200.89543%20864.895%200%20866%200ZM890%200C891.105%200%20892%200.89543%20892%202C892%203.10457%20891.105%204%20890%204C888.895%204%20888%203.10457%20888%202C888%200.89543%20888.895%200%20890%200ZM914%200C915.105%200%20916%200.89543%20916%202C916%203.10457%20915.105%204%20914%204C912.895%204%20912%203.10457%20912%202C912%200.89543%20912.895%200%20914%200ZM938%200C939.105%200%20940%200.89543%20940%202C940%203.10457%20939.105%204%20938%204C936.895%204%20936%203.10457%20936%202C936%200.89543%20936.895%200%20938%200ZM962%200C963.105%200%20964%200.89543%20964%202C964%203.10457%20963.105%204%20962%204C960.895%204%20960%203.10457%20960%202C960%200.89543%20960.895%200%20962%200ZM986%200C987.105%200%20988%200.89543%20988%202C988%203.10457%20987.105%204%20986%204C984.895%204%20984%203.10457%20984%202C984%200.89543%20984.895%200%20986%200ZM1010%200C1011.1%200%201012%200.89543%201012%202C1012%203.10457%201011.1%204%201010%204C1008.9%204%201008%203.10457%201008%202C1008%200.89543%201008.9%200%201010%200ZM1034%200C1035.1%200%201036%200.89543%201036%202C1036%203.10457%201035.1%204%201034%204C1032.9%204%201032%203.10457%201032%202C1032%200.89543%201032.9%200%201034%200ZM1058%200C1059.1%200%201060%200.89543%201060%202C1060%203.10457%201059.1%204%201058%204C1056.9%204%201056%203.10457%201056%202C1056%200.89543%201056.9%200%201058%200ZM1082%200C1083.1%200%201084%200.89543%201084%202C1084%203.10457%201083.1%204%201082%204C1080.9%204%201080%203.10457%201080%202C1080%200.89543%201080.9%200%201082%200ZM1106%200C1107.1%200%201108%200.89543%201108%202C1108%203.10457%201107.1%204%201106%204C1104.9%204%201104%203.10457%201104%202C1104%200.89543%201104.9%200%201106%200ZM1130%200C1131.1%200%201132%200.89543%201132%202C1132%203.10457%201131.1%204%201130%204C1128.9%204%201128%203.10457%201128%202C1128%200.89543%201128.9%200%201130%200ZM1154%200C1155.1%200%201156%200.89543%201156%202C1156%203.10457%201155.1%204%201154%204C1152.9%204%201152%203.10457%201152%202C1152%200.89543%201152.9%200%201154%200ZM1178%200C1179.1%200%201180%200.89543%201180%202C1180%203.10457%201179.1%204%201178%204C1176.9%204%201176%203.10457%201176%202C1176%200.89543%201176.9%200%201178%200ZM1202%200C1203.1%200%201204%200.89543%201204%202C1204%203.10457%201203.1%204%201202%204C1200.9%204%201200%203.10457%201200%202C1200%200.89543%201200.9%200%201202%200ZM1226%200C1227.1%200%201228%200.89543%201228%202C1228%203.10457%201227.1%204%201226%204C1224.9%204%201224%203.10457%201224%202C1224%200.89543%201224.9%200%201226%200ZM1250%200C1251.1%200%201252%200.89543%201252%202C1252%203.10457%201251.1%204%201250%204C1248.9%204%201248%203.10457%201248%202C1248%200.89543%201248.9%200%201250%200ZM1274%200C1275.1%200%201276%200.89543%201276%202C1276%203.10457%201275.1%204%201274%204C1272.9%204%201272%203.10457%201272%202C1272%200.89543%201272.9%200%201274%200ZM1298%200C1299.1%200%201300%200.89543%201300%202C1300%203.10457%201299.1%204%201298%204C1296.9%204%201296%203.10457%201296%202C1296%200.89543%201296.9%200%201298%200ZM1322%200C1323.1%200%201324%200.89543%201324%202C1324%203.10457%201323.1%204%201322%204C1320.9%204%201320%203.10457%201320%202C1320%200.89543%201320.9%200%201322%200ZM1346%200C1347.1%200%201348%200.89543%201348%202C1348%203.10457%201347.1%204%201346%204C1344.9%204%201344%203.10457%201344%202C1344%200.89543%201344.9%200%201346%200ZM1370%200C1371.1%200%201372%200.89543%201372%202C1372%203.10457%201371.1%204%201370%204C1368.9%204%201368%203.10457%201368%202C1368%200.89543%201368.9%200%201370%200ZM1394%200C1395.1%200%201396%200.89543%201396%202C1396%203.10457%201395.1%204%201394%204C1392.9%204%201392%203.10457%201392%202C1392%200.89543%201392.9%200%201394%200ZM1418%200C1419.1%200%201420%200.89543%201420%202C1420%203.10457%201419.1%204%201418%204C1416.9%204%201416%203.10457%201416%202C1416%200.89543%201416.9%200%201418%200ZM1442%200C1443.1%200%201444%200.89543%201444%202C1444%203.10457%201443.1%204%201442%204C1440.9%204%201440%203.10457%201440%202C1440%200.89543%201440.9%200%201442%200ZM1466%200C1467.1%200%201468%200.89543%201468%202C1468%203.10457%201467.1%204%201466%204C1464.9%204%201464%203.10457%201464%202C1464%200.89543%201464.9%200%201466%200ZM1490%200C1491.1%200%201492%200.89543%201492%202C1492%203.10457%201491.1%204%201490%204C1488.9%204%201488%203.10457%201488%202C1488%200.89543%201488.9%200%201490%200ZM1514%200C1515.1%200%201516%200.89543%201516%202C1516%203.10457%201515.1%204%201514%204C1512.9%204%201512%203.10457%201512%202C1512%200.89543%201512.9%200%201514%200ZM1538%200C1539.1%200%201540%200.89543%201540%202C1540%203.10457%201539.1%204%201538%204C1536.9%204%201536%203.10457%201536%202C1536%200.89543%201536.9%200%201538%200ZM1562%200C1563.1%200%201564%200.89543%201564%202C1564%203.10457%201563.1%204%201562%204C1560.9%204%201560%203.10457%201560%202C1560%200.89543%201560.9%200%201562%200ZM1586%200C1587.1%200%201588%200.89543%201588%202C1588%203.10457%201587.1%204%201586%204C1584.9%204%201584%203.10457%201584%202C1584%200.89543%201584.9%200%201586%200ZM1610%200C1611.1%200%201612%200.89543%201612%202C1612%203.10457%201611.1%204%201610%204C1608.9%204%201608%203.10457%201608%202C1608%200.89543%201608.9%200%201610%200ZM1634%200C1635.1%200%201636%200.89543%201636%202C1636%203.10457%201635.1%204%201634%204C1632.9%204%201632%203.10457%201632%202C1632%200.89543%201632.9%200%201634%200ZM1658%200C1659.1%200%201660%200.89543%201660%202C1660%203.10457%201659.1%204%201658%204C1656.9%204%201656%203.10457%201656%202C1656%200.89543%201656.9%200%201658%200ZM1682%200C1683.1%200%201684%200.89543%201684%202C1684%203.10457%201683.1%204%201682%204C1680.9%204%201680%203.10457%201680%202C1680%200.89543%201680.9%200%201682%200ZM1706%200C1707.1%200%201708%200.89543%201708%202C1708%203.10457%201707.1%204%201706%204C1704.9%204%201704%203.10457%201704%202C1704%200.89543%201704.9%200%201706%200ZM1730%200C1731.1%200%201732%200.89543%201732%202C1732%203.10457%201731.1%204%201730%204C1728.9%204%201728%203.10457%201728%202C1728%200.89543%201728.9%200%201730%200ZM1754%200C1755.1%200%201756%200.89543%201756%202C1756%203.10457%201755.1%204%201754%204C1752.9%204%201752%203.10457%201752%202C1752%200.89543%201752.9%200%201754%200ZM1778%200C1779.1%200%201780%200.89543%201780%202C1780%203.10457%201779.1%204%201778%204C1776.9%204%201776%203.10457%201776%202C1776%200.89543%201776.9%200%201778%200ZM1802%200C1803.1%200%201804%200.89543%201804%202C1804%203.10457%201803.1%204%201802%204C1800.9%204%201800%203.10457%201800%202C1800%200.89543%201800.9%200%201802%200ZM1826%200C1827.1%200%201828%200.89543%201828%202C1828%203.10457%201827.1%204%201826%204C1824.9%204%201824%203.10457%201824%202C1824%200.89543%201824.9%200%201826%200ZM1850%200C1851.1%200%201852%200.89543%201852%202C1852%203.10457%201851.1%204%201850%204C1848.9%204%201848%203.10457%201848%202C1848%200.89543%201848.9%200%201850%200ZM1874%200C1875.1%200%201876%200.89543%201876%202C1876%203.10457%201875.1%204%201874%204C1872.9%204%201872%203.10457%201872%202C1872%200.89543%201872.9%200%201874%200ZM1898%200C1899.1%200%201900%200.89543%201900%202C1900%203.10457%201899.1%204%201898%204C1896.9%204%201896%203.10457%201896%202C1896%200.89543%201896.9%200%201898%200Z%22%20fill%3D%22url(%23paint0_radial_5003_901)%22%2F%3E%3Cdefs%3E%3CradialGradient%20id%3D%22paint0_radial_5003_901%22%20cx%3D%220%22%20cy%3D%220%22%20r%3D%221%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22translate(950%2014)%20scale(950%2049.3485)%22%3E%3Cstop%20stop-color%3D%22%23F6F6F6%22%20stop-opacity%3D%220.02%22%2F%3E%3Cstop%20offset%3D%220.4%22%20stop-color%3D%22%23F6F6F6%22%20stop-opacity%3D%220.14%22%2F%3E%3Cstop%20offset%3D%220.7%22%20stop-color%3D%22%23F6F6F6%22%20stop-opacity%3D%220.2%22%2F%3E%3Cstop%20offset%3D%220.9%22%20stop-color%3D%22%23F6F6F6%22%20stop-opacity%3D%220.1%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23F6F6F6%22%20stop-opacity%3D%220.02%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
         background-repeat: repeat;
         background-size: 100% auto;
         z-index: 2;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         user-select: none;
         pointer-events: none;

         @include media.mobile {
            display: none;
         }
      }

      &.flex_center {
         display: flex;
         align-items: center;
         flex-direction: row;

         @include media.tablet {
            padding: 150px 0;
         }
      }

      &_wrap {
         display: flex;
         flex-direction: column;
         align-items: center;
         row-gap: 40px;
         row-gap: media.fl(40, 30);
         max-width: 900px;
         margin-left: auto;
         margin-right: auto;
         position: relative;
         z-index: 4;

         @include media.desktop {
            max-width: 800px;
            row-gap: 30px;
         }

         @include media.tablet {
            max-width: 750px;
            row-gap: 16px;
         }
      }

      .autoWidth {
         width: auto;
      }

      .section_head-icon {
         height: 80px;
         margin-bottom: 0px;
         width: auto;

         @include media.tablet {
            height: 60px;
         }
      }

      .section_head-title {
         color: #FFF;
         text-align: center;
         font-size: 56px;
         font-size: media.fl(56, 50);
         font-weight: 400;
         line-height: 64px;
         line-height: media.fl(64, 58);
         letter-spacing: -1.12px;

         @include media.desktop {
            font-size: 50px;
            line-height: 58px;
            letter-spacing: -1px;
         }

         @include media.tablet {
            font-size: 28px;
            line-height: normal;
            letter-spacing: -0.56px;
         }
      }

      .product_head-first_sub {

         @media screen and (max-width: 550px) {
            br {
               display: none;
            }
         }
      }



      .first_block_wrap_head-btn {
         @include media.tablet {
            margin-top: 9px;
         }
      }

      .product_head-first_sub {
         display: flex;
         flex-direction: column;
         row-gap: 16px;
         margin-top: -20px;

         @include media.desktop {
            margin-top: -14px;
            max-width: 800px;
         }

         @include media.tablet {
            margin-top: 0px;
            max-width: 600px;
         }

         @include media.mobile {
            row-gap: 24px;
         }

         &-title {
            color: #A8A8A8;
            text-align: center;
            font-family: Onest;
            font-size: 34px;
            font-size: media.fl(34, 28);
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            line-height: media.fl(44, 38);
            letter-spacing: -0.68px;

            @include media.desktop {
               font-size: 28px;
               line-height: normal;
               letter-spacing: -0.56px;
            }

            @include media.tablet {
               font-size: 20px;
               line-height: 28px;
               letter-spacing: 0.4px;
            }
         }

         &-text {
            color: #FFF;
            text-align: center;
            font-family: Onest;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            line-height: media.fl(28, 24);
            letter-spacing: 0.4px;

            @include media.desktop {
               font-size: 16px;
               line-height: 24px;
               letter-spacing: 0.32px;
            }

            @include media.mobile {
               font-size: 14px;
               line-height: 20px;
               letter-spacing: 0.28px;
            }
         }
      }
   }

   .line_top-bot {
      user-select: none;
      pointer-events: none;

      &::before {
         content: '';
         display: block;
         width: calc(100% + 100px);
         width: calc(100% + media.fl(100, 60));
         height: 2px;
         background: #E8E8EB;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);

         @include media.desktop {
            width: calc(100% + 60px);
         }

         @include media.tablet {
            display: none;
         }
      }

      &::after {
         content: '';
         display: block;
         width: calc(100% + 100px);
         width: calc(100% + media.fl(100, 60));
         height: 2px;
         background: #E8E8EB;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);

         @include media.desktop {
            width: calc(100% + 60px);
         }

         @include media.tablet {
            display: none;
         }
      }
   }

   .line_right-left {
      user-select: none;
      pointer-events: none;

      &::before {
         content: '';
         display: block;
         width: 2px;
         height: calc(100% + 100px);
         height: calc(100% + media.fl(100, 60));
         background: #E8E8EB;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 0px;

         @include media.desktop {
            height: calc(100% + 60px);
         }

         @include media.tablet {
            display: none;
         }
      }

      &::after {
         content: '';
         display: block;
         width: 2px;
         height: calc(100% + media.fl(100, 60));
         background: #E8E8EB;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 0px;

         @include media.desktop {
            height: calc(100% + 60px);
         }

         @include media.tablet {
            display: none;
         }
      }
   }

   &-call_about {
      margin-top: 120px;
      margin-top: media.fl(120, 80);

      @include media.desktop {
         margin-top: 80px;
      }

      @include media.tablet {
         margin-top: 30px;
      }

      &_head {
         display: flex;
         flex-direction: column;
         row-gap: 40px;
         row-gap: media.fl(40, 30);

         @include media.desktop {
            row-gap: 30px;
         }

         &-icon {
            display: flex;
            width: 60px;
            width: media.fl(60, 50);
            height: 60px;
            height: media.fl(60, 50);
            aspect-ratio: 1/1;
            overflow: hidden;
            flex-shrink: 0;

            @include media.desktop {
               width: 50px;
               height: 50px;
            }

            @include media.tablet {
               width: 40px;
               height: 40px;
            }

            svg {
               width: 100%;
               height: 100%;
            }
         }

         &-title {
            color: #121212;
            font-size: 34px;
            font-size: media.fl(34, 20);
            font-weight: 400;
            line-height: 44px;
            line-height: media.fl(44, 28);
            letter-spacing: -0.68px;

            @include media.desktop {
               font-size: 20px;
               line-height: 28px;
               letter-spacing: 0.4px;
            }

            @include media.tablet {
               font-size: 18px;
               line-height: normal;
               letter-spacing: 0.36px;
            }

            @include media.mobile {

               br {
                  display: none;
               }
            }
         }
      }

      &_item {
         margin-bottom: 14px;
         margin-bottom: media.fl(14, 10);

         @include media.desktop {
            margin-bottom: 10px;
         }

         &:last-child {
            margin-bottom: 0px;
         }

         &.head {
            margin-bottom: 40px;
            margin-bottom: media.fl(40, 36);

            @include media.desktop {
               margin-bottom: 36px;
            }

            @include media.tablet {
               margin-bottom: 14px;
            }
         }

         &-el {
            display: flex;
            align-items: center;
            height: 100%;
            border-radius: 10px;
            background: #F5F5F7;
            padding: 30px;
            padding: media.fl(30, 24);

            color: #121212;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-weight: 400;
            line-height: 28px;
            line-height: media.fl(28, 25);
            letter-spacing: 0.4px;

            @include media.desktop {
               padding: 24px;

               font-size: 16px;
               line-height: 25px;
               letter-spacing: 0.32px;
            }

            @include media.tablet {
               padding: 14px;
               align-items: flex-start;

               font-size: 12px;
               line-height: 18px;
               letter-spacing: 0.24px;
            }

            &.--blue {
               color: #FFF;
               background: var(--dark-blue-gradient-linear);
            }
         }

         &-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            @include media.mobile {
               display: none;
            }

            svg {
               max-width: 100%;
               max-height: 100%;
            }

            .show_desktop {
               display: block;

               @include media.tablet {
                  display: none;
               }
            }

            .show_tablet {
               display: none;

               @include media.tablet {
                  display: block;
               }
            }
         }

         &.row {
            @include media.tablet {
               --bs-gutter-x: 10px;
            }
         }

         .col-xl-5 {
            @include media.tablet {
               max-width: 46.062%;
            }

            @include media.mobile {
               max-width: 50%;
            }
         }

         .col-xl-2 {

            @include media.tablet {
               max-width: 7.876%;
            }

            @include media.mobile {
               display: none;
            }
         }
      }
   }

   &_tech {
      margin-top: 120px;
      margin-top: media.fl(120, 80);

      @include media.desktop {
         margin-top: 80px;
      }

      @include media.tablet {
         margin-top: 60px;
      }

      &_slider {
         &_sw {
            overflow: visible;
            width: 100%;
            max-width: 100%;
            min-width: 0px;
            margin: 0;

            .swiper-slide {
               display: flex;
            }

            &_item {
               height: auto;

               @include media.tablet {
                  max-width: 305px;
               }

               .col-12 {
                  height: 100%;
               }
            }
         }
      }
   }

   &_result {
      margin-top: 120px;
      margin-top: media.fl(120, 80);

      @include media.desktop {
         margin-top: 80px;
      }

      @include media.tablet {
         margin-top: 60px;
      }

      .row {
         row-gap: 20px;
      }

      &_slider {
         &_sw {
            overflow: visible;

            .swiper-slide {
               display: flex;
            }

            &_item {
               height: auto;

               @include media.tablet {
                  max-width: 305px;
               }

               .col-12 {
                  height: 100%;
               }
            }
         }
      }

      .advantages_card_item {
         background: #0168C7;
         border: unset;
         position: relative;
         overflow: hidden;

         .advantages_card_item-title {
            position: relative;
            z-index: 1;
         }

         .advantages_card_item-icon {
            position: relative;
            z-index: 1;
         }

         .typical_text {
            position: relative;
            z-index: 1;
         }

         .circle {
            display: block;
            position: absolute;
            border-radius: 326px;
            background: #01193B;
            filter: blur(80px);

            width: calc(100% - 180px);
            height: calc(100% - 60px);
            top: 0px;
            left: 0px;

            @include media.tablet {
               width: calc(100% - 70px);
               height: 100%;
               filter: blur(70px);
            }
         }
      }

      .hide_tablet {

         @media screen and (max-width: 1399px) {
            display: none;
         }
      }

      .show_tablet {
         display: none;

         @media screen and (max-width: 1399px) {
            display: block;
         }
      }
   }
}