.benefits {
  row-gap: 20px;
}
@media screen and (max-width: 1199px) {
  .benefits {
    row-gap: 10px;
  }
}
.benefits_item {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  -moz-column-gap: clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem);
       column-gap: clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem);
  padding: 49px;
  padding: clamp(2.438rem, -0.688rem + 3.125vw, 3.063rem);
  border-radius: 10px;
  border: 1px solid #E8E8EB;
  background: #FFF;
  height: 100%;
}
@media screen and (max-width: 1599px) {
  .benefits_item {
    padding: 39px;
    flex-direction: column;
    row-gap: 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .benefits_item {
    padding: 19px;
  }
}
@media screen and (max-width: 767px) {
  .benefits_item {
    height: auto;
  }
}
.benefits_item-icon {
  display: flex;
  width: 100%;
  max-width: 60px;
  max-width: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  height: 60px;
  height: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  .benefits_item-icon {
    max-width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .benefits_item-icon {
    max-width: 40px;
    height: 40px;
  }
}
.benefits_item-icon svg {
  width: 100%;
  height: 100%;
}
.benefits_item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  max-width: calc(100% - 50px - 60px);
  max-width: calc(100% - clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem) - clamp(3.125rem, 0rem + 3.125vw, 3.75rem));
}
@media screen and (max-width: 1599px) {
  .benefits_item_content {
    max-width: 100%;
  }
}