@use '../../../app/styles/scss/media' as *;

.kitchen_image_block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: calc(100% - 650px);

  @include tablet {
    max-width: calc(100% - 50% - 20px);
  }

  @include mobile {
    justify-content: center;
    max-width: 100%;
  }

  .kitchen_image {
    display: block;
    width: 100%;
    max-width: 862px;
    height: auto;
    aspect-ratio: 431/325;

    @include mobile {
      max-width: 450px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.landing_page_head {
  .landing_page_head_wrap {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include mobile {
      padding: 30px 0;
    }
  }
}
