.infoblock {
  margin: 60px 0 0 0;
}
@media screen and (max-width: 1199px) {
  .infoblock {
    margin-top: 30px;
  }
}
.infoblock h1 {
  color: var(--black, #121212);
  text-align: center;
  font-size: 42px;
  font-size: clamp(2.125rem, -0.375rem + 2.5vw, 2.625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  line-height: clamp(2.5rem, 0rem + 2.5vw, 3rem);
  /* 114.286% */
  letter-spacing: -0.84px;
}
@media screen and (max-width: 1599px) {
  .infoblock h1 {
    font-size: 34px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .infoblock h1 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: unset;
  }
}
.infoblock h2 {
  color: #121212;
  margin-bottom: 20px;
  margin-bottom: clamp(1rem, -0.25rem + 1.25vw, 1.25rem);
  font-size: 26px;
  font-size: clamp(1.5rem, 0.875rem + 0.625vw, 1.625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  line-height: clamp(2rem, 1.375rem + 0.625vw, 2.125rem);
  letter-spacing: 0.52px;
  margin-top: 38px;
  margin-top: clamp(1.875rem, -0.625rem + 2.5vw, 2.375rem);
}
.infoblock h2:first-child {
  margin-top: 0;
}
@media screen and (max-width: 1599px) {
  .infoblock h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .infoblock h2 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 12px;
    letter-spacing: unset;
  }
}
.infoblock p {
  margin-bottom: 5px;
}
.infoblock p:last-of-type {
  margin-bottom: 0px;
}
.infoblock_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}
@media screen and (max-width: 1599px) {
  .infoblock_wrap {
    row-gap: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .infoblock_wrap {
    row-gap: 24px;
  }
}
.infoblock_wrap_box {
  width: 100%;
  max-width: 1396px;
  padding: 49px;
  border-radius: 10px;
  border: 1px solid #E8E8EB;
  background: #FFF;
}
@media screen and (max-width: 1599px) {
  .infoblock_wrap_box {
    padding: 39px;
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .infoblock_wrap_box {
    max-width: 100%;
    padding: 29px;
  }
}
@media screen and (max-width: 767px) {
  .infoblock_wrap_box {
    padding: 19px;
  }
}