.typical_text {
  color: #121212;
  font-family: var(--font-onest), sans-serif;
  font-size: 20px;
  font-size: clamp(1.125rem, 0.5rem + 0.625vw, 1.25rem);
  font-weight: 400;
  line-height: 28px;
  line-height: clamp(1.625rem, 1rem + 0.625vw, 1.75rem);
  letter-spacing: 0.4px;
}
@media screen and (max-width: 1599px) {
  .typical_text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.36px;
  }
}
@media screen and (max-width: 1199px) {
  .typical_text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
}
.typical_text.small {
  font-size: 18px;
  font-size: clamp(1rem, 0.375rem + 0.625vw, 1.125rem);
  font-weight: 400;
  line-height: 26px;
  line-height: clamp(1.375rem, 0.125rem + 1.25vw, 1.625rem);
  letter-spacing: 0.36px;
}
@media screen and (max-width: 1599px) {
  .typical_text.small {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: unset;
  }
}
@media screen and (max-width: 1199px) {
  .typical_text.small {
    font-size: 14px;
    line-height: normal;
  }
}
.typical_text.gray {
  color: #c9c9c9;
}
.typical_text.white {
  color: #fff;
}
.typical_text.ibm {
  font-family: var(--font-ibm), sans-serif;
  letter-spacing: 0px;
}
.typical_text.center {
  text-align: center;
}
.typical_text a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
