.black_block {
  background: #212121;
  padding-top: 100px;
  margin-top: 120px;
  margin-top: clamp(6.25rem, 0rem + 6.25vw, 7.5rem);
}
@media screen and (max-width: 1399px) {
  .black_block {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1599px) {
  .black_block {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .black_block {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.black_block_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  row-gap: clamp(6.25rem, 0rem + 6.25vw, 7.5rem);
}
@media screen and (max-width: 1599px) {
  .black_block_wrap {
    row-gap: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .black_block_wrap {
    row-gap: 60px;
  }
}
.black_block_wrap section {
  margin-top: 0px !important;
}