@use '../../scss/media'as *;

.services_page {
   display: flex;
   padding-top: 60px;
   overflow: hidden;
   min-height: calc(100dvh - 90px - 160px);
   min-height: calc(100dvh - clamp(3.563rem, -6.75rem + 10.313vw, 5.625rem) - clamp(7.5rem, -5rem + 12.5vw, 10rem));

   @include desktop {
      min-height: calc(100dvh - 57px - 120px);
   }

   @include tablet {
      padding-top: 30px;
      min-height: calc(100dvh - 57px - 30px);
   }

   &_head {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
         color: #121212;
         text-align: center;
         font-size: 42px;
         font-size: clamp(2.25rem, 0.375rem + 1.875vw, 2.625rem);
         // 42px > 36px
         font-weight: 400;
         line-height: 48px;
         line-height: clamp(2.625rem, 0.75rem + 1.875vw, 3rem);
         // 48px > 42px
         letter-spacing: -0.84px;

         max-width: 1250px;
         max-width: clamp(56.25rem, -53.125rem + 109.375vw, 78.125rem);
         // 1250px > 900px

         @include desktop {
            color: #121212;
            font-size: 36px;
            line-height: normal;
            letter-spacing: -0.72px;

            max-width: 900px;
         }

         @include tablet {
            color: #121212;
            font-size: 28px;
            line-height: normal;
            letter-spacing: -0.56px;
         }
      }

      &-text {
         margin-top: fl(20, 16);

         color: #121212;
         text-align: center;
         font-size: fl(20, 18);
         font-weight: 400;
         line-height: fl(30, 26);
         letter-spacing: 0.4px;

         max-width: 950px;

         @include desktop {
            margin-top: 16px;

            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.36px;
         }

         @include tablet {
            max-width: 700px;
            margin-top: 20px;

            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.28px;
         }
      }

      &-btn {
         margin-top: 30px;

         @include tablet {
            margin-top: 20px;
         }
      }
   }

   .list_page_tabs {
      margin-top: fl(80, 60);

      @include desktop {
         margin-top: 60px;
      }

      @include tablet {
         margin-top: 30px;
      }

      &_item {
         padding: fl(50, 40);
         border-radius: 10px;
         border: 1px solid #E8E8EB;
         background: #FFF;
         overflow: hidden;

         @include desktop {
            padding: 40px;
         }

         @include tablet {
            padding: 20px;
         }

         &-header {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            @include tablet {
               row-gap: 16px;
            }

            &-title {
               color: #121212;
               font-size: fl(34, 26);
               font-weight: 400;
               line-height: fl(44, 35);
               letter-spacing: -0.68px;

               @include desktop {
                  font-size: 26px;
                  line-height: 35px;
                  letter-spacing: -0.52px;
               }

               @include tablet {
                  font-size: 20px;
                  line-height: 26px;
                  letter-spacing: -0.4px;
               }
            }

            &-text {
               color: #121212;
               font-size: fl(20, 16);
               font-weight: 400;
               line-height: fl(30, 24);
               letter-spacing: 0.4px;

               max-width: 830px;

               @include desktop {
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.32px;
               }

               @include tablet {
                  font-size: 14px;
                  line-height: 22px;
                  letter-spacing: 0.28px;
               }
            }
         }

         &_list {
            margin-top: 50px;

            @include tablet {
               margin-top: 24px;
            }

            &-sw {
               display: flex;
               overflow: visible;
               margin: 0;
               max-width: 100%;
               min-width: 0px;

               .swiper-slide {
                  height: auto;
                  border-radius: 20px;
                  background: radial-gradient(113.66% 83.73% at 79.19% 22.8%, #05A6F5 4.21%, #0168C7 26.06%, #034090 44.49%, #01193B 82.21%, #00040D 100%);


                  @include tablet {
                     max-width: 47.145%;
                  }

                  @include mobile {
                     max-width: 98%;
                  }

               }
            }

            &_el {
               display: flex;
               flex-direction: column;
               row-gap: fl(40, 34);
               padding: fl(40, 34) 10px 10px 10px;
               height: 100%;

               @include desktop {
                  padding-top: 34px;
                  row-gap: 34px;
               }

               @include tablet {
                  row-gap: 17px;
                  padding-top: 17px;
               }

               &_head {
                  display: flex;
                  align-items: center;
                  column-gap: 30px;
                  padding: 0 fl(13, 11);

                  @include desktop {
                     padding: 0 11px;
                  }

                  @include tablet {
                     column-gap: 16px;
                     padding: 0 20px;
                  }

                  @include mobile {
                     padding: 0 5px;
                  }

                  &-icon {
                     display: flex;
                     width: 60px;
                     height: 60px;
                     flex-shrink: 0;

                     svg {
                        width: 100%;
                        height: 100%;
                     }
                  }

                  &-title {
                     color: #FFF;
                     font-size: fl(26, 20);
                     font-weight: 400;
                     line-height: fl(34, 28);
                     letter-spacing: 0.52px;

                     @include desktop {
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0.4px;
                     }

                     @include tablet {
                        font-size: 16px;
                        line-height: 25px;
                        letter-spacing: 0.32px;
                     }
                  }
               }

               &_content {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  width: 100%;
                  padding: fl(30, 24);
                  border-radius: 10px;
                  background: #FFF;
                  flex: 1 1 auto;

                  @include desktop {
                     padding: 24px;
                  }

                  @include tablet {
                     padding: 20px;
                  }

                  &-text {
                     color: #121212;
                     font-size: fl(20, 16);
                     font-weight: 400;
                     line-height: fl(30, 24);
                     letter-spacing: 0.4px;

                     @include desktop {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.32px;
                     }

                     @include tablet {
                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 0.3px;
                     }

                     ul {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        list-style: disc;
                        padding-left: 20px;

                        li {}
                     }

                     span {
                        color: #006AFE;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: none;
                        text-decoration-thickness: 6%;
                        text-underline-offset: 20%;
                        text-underline-position: from-font;
                        cursor: pointer;
                        transition: .4s;

                        @include hover {
                           opacity: .7;
                        }
                     }
                  }

                  &-suitable {
                     display: flex;
                     flex-direction: column;
                     row-gap: 14px;
                     padding: 20px;
                     border-radius: 10px;
                     background: #F5F5F7;
                     margin-top: fl(40, 14);

                     color: #121212;
                     font-size: fl(20, 16);
                     font-weight: 400;
                     line-height: fl(30, 24);
                     letter-spacing: 0.4px;

                     @include desktop {
                        margin-top: 14px;

                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.32px;
                     }

                     @include tablet {
                        padding: 14px;

                        font-size: 15px;
                        line-height: 22px;
                        letter-spacing: 0.3px;
                     }

                     span {
                        color: #121212;
                        font-size: fl(20, 16);
                        font-weight: 400;
                        line-height: fl(30, 24);
                        letter-spacing: 0.4px;

                        @include desktop {
                           font-size: 16px;
                           line-height: 24px;
                           letter-spacing: 0.32px;
                        }

                        @include tablet {
                           font-size: 14px;
                           line-height: 22px;
                           letter-spacing: 0.28px;
                        }
                     }
                  }

                  &-btn {
                     flex: 1 1 auto;
                     display: flex;
                     align-items: flex-end;
                     justify-content: flex-start;
                     margin-top: fl(40, 30);

                     @include desktop {
                        margin-top: 30px;
                     }

                     &-icon {
                        display: flex;
                        width: 14px;
                        height: 14px;
                        flex-shrink: 0;

                        @include tablet {
                           width: 10px;
                           height: 10px;
                        }

                        svg {
                           width: 100%;
                           height: 100%;
                        }
                     }

                     &-el {}
                  }
               }
            }
         }
      }
   }

}