@use '../../../app/styles/scss/media' as *;

.services_page-call_modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 80px 120px;
  opacity: 0;
  visibility: hidden;

  transition: 0.4s;

  @include tablet {
    padding: 40px 75px;
  }

  @include mobile {
    padding: 70px 13px 20px 13px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    padding: fl(50, 28) fl(142, 70) fl(30, 28) fl(142, 70);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 24px 84px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: fl(1680, 1064);
    position: relative;

    @include desktop {
      padding: 28px 70px;
      max-width: 1064px;
    }

    @include tablet {
      padding: 28px 50px;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &-title {
    color: #121212;
    text-align: center;
    font-size: fl(26, 20);
    font-weight: 400;
    line-height: fl(34, 28);
    letter-spacing: 0.52px;

    @include desktop {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.4px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
    }

    @include mobile {
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px fl(30, 20);
    border-radius: 10px;
    background: #f5f5f7;

    margin-top: fl(40, 30);

    @include desktop {
      margin-top: 30px;
      padding: 20px;
    }

    @include tablet {
      margin-top: 24px;
      row-gap: 12px;
      padding: 16px;
    }

    @include mobile {
      margin-top: 16px;
    }

    p {
      display: flex;
      column-gap: 16px;

      color: #121212;
      font-size: fl(16, 14);
      font-weight: 400;
      line-height: fl(24, 22);
      letter-spacing: 0.32px;

      position: relative;

      @include desktop {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.28px;
      }

      @include tablet {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.24px;
      }

      &::before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.3333%206.44444L7.22222%209.55556L5.66667%208M15%208C15%2011.866%2011.866%2015%208%2015C4.13401%2015%201%2011.866%201%208C1%204.13401%204.13401%201%208%201C11.866%201%2015%204.13401%2015%208Z%22%20stroke%3D%22%23006AFE%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
        transform: translateY(4px);
      }
    }
  }

  &-text {
    margin-top: 30px;

    color: #121212;
    text-align: center;
    font-size: fl(16, 14);
    font-weight: 400;
    line-height: fl(24, 22);
    letter-spacing: 0.32px;

    position: relative;

    @include desktop {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.28px;
    }

    @include tablet {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.24px;
    }
  }

  &-close {
    display: flex;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    position: absolute;
    top: fl(30, 28);
    right: fl(30, 17);
    cursor: pointer;

    @include desktop {
      top: 28px;
      right: 17px;
    }

    @include tablet {
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
    }

    @include mobile {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      top: -40px;
      width: 30px;
      height: 30px;
    }

    transition: 0.4s;

    @include hover {
      opacity: 0.7;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
