@use '../../../scss/media'as *;

.services_page_btns {
   margin-top: 120px;
   display: flex;
   column-gap: 20px;
   justify-content: center;

   @include desktop {
      margin-top: 80px;
   }

   @include tablet {
      margin-top: 60px;
   }

   @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
   }

   .btn {
      min-width: fl(380, 295);

      @include desktop {
         min-width: 295px;
      }

      @include tablet {
         min-width: 255px;
      }

      @include mobile {
         min-width: unset;
      }

      .icon {
         display: flex;
         width: 14px;
         height: 14px;
         flex-shrink: 0;

         @include tablet {
            width: 10px;
            height: 10px;
         }

         svg {
            width: 100%;
            height: 100%;
         }
      }
   }
}