@use '../../../app/styles/scss/media' as *;

.city_block {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  flex-shrink: 0;

  @include mobile {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 121;
  }

  &-render {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 250px;
    padding: 6px 16px 8px 16px;
    padding: 6px fl(16, 14) 6px fl(16, 14);
    border-radius: 50px;
    background: #f5f5f7;
    cursor: pointer;
    transition: 0.4s;

    @include hover {
      background: #e8e8eb;
    }

    @include desktop {
      max-width: 210px;
      padding: 6px 14px 6px 14px;
    }

    @include tablet {
      padding: 5px 12px;
      max-width: 170px;
    }

    @include mobile {
      padding: 6px 14px 6px 14px;
      max-width: 205px;
    }

    span {
      color: #121212;
      text-align: center;
      font-family: 'IBM Plex Mono';
      font-size: 18px;
      font-size: fl(18, 14);
      font-weight: 400;
      line-height: 26px;
      line-height: fl(26, 22);
      letter-spacing: 0.36px;
      text-transform: uppercase;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include desktop {
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.28px;
      }

      @include tablet {
        font-size: 12px;
        letter-spacing: 0.24px;
      }

      @include mobile {
        font-size: 14px;
        letter-spacing: 0.28px;
      }
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      transition: 0.4s;

      &.--point {
        width: 14px;
        height: 16px;
        transform: translateY(-1px);

        @include tablet {
          display: none;
        }

        @include mobile {
          display: flex;
        }
      }

      &.--arrow {
        width: 10px;
        width: fl(10, 8);
        height: 6px;
        height: fl(6, 4);

        @include desktop {
          width: 8px;
          height: 4px;
        }
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_wrap {
    padding: 30px 15px 30px 30px;
    padding: fl(30, 15) 15px fl(30, 15) fl(30, 15);
    border-radius: 10px;
    background: #f5f5f7;
    width: 260px;
    width: fl(260, 232);
    max-width: 270px;
    max-width: fl(270, 240);
    position: absolute;
    top: calc(100% + 27px);
    top: calc(100% + fl(27, 16));
    right: 0;
    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

    @include desktop {
      top: calc(100% + 16px);
      padding: 16px;
      width: 232px;
      max-width: 240px;
    }

    @include mobile {
      width: 250px;
      max-width: 260px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
    max-height: 340px;
    max-height: fl(340, 288);
    height: 100%;
    padding-right: 15px;

    @include desktop {
      max-height: 288px;
      row-gap: 12px;
    }

    &::-webkit-scrollbar {
      width: 4px;

      @include desktop {
        width: 2px;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: #e8e8eb;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c9c9c9;
    }

    &_it {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      &-btn {
        color: #121212;
        font-family: 'IBM Plex Mono';
        font-size: 18px;
        font-size: fl(18, 14);
        font-weight: 400;
        line-height: 26px;
        line-height: fl(26, 22);
        letter-spacing: 0.36px;
        text-transform: uppercase;

        cursor: pointer;
        transition: 0.4s;

        @include desktop {
          font-size: 14px;
          line-height: normal;
          letter-spacing: 0.28px;
        }

        @include tablet {
          font-size: 12px;
          letter-spacing: 0.24px;
        }

        @include mobile {
          font-size: 14px;
          letter-spacing: 0.28px;
        }

        @include hover {
          opacity: 0.7;
        }
      }
    }
  }

  &.active {
    .city_block-render {
      background: #e8e8eb;

      .icon {
        &.--arrow {
          transform: rotate(180deg);
        }
      }
    }

    .city_block_wrap {
      opacity: 1;
      visibility: visible;
    }
  }
}
