@use '../../../app/styles/scss/media';

.car_dealers_sales {
  margin-top: 120px;
  margin-top: media.fl(120, 80);

  @include media.desktop {
    margin-top: 80px;
  }

  @include media.tablet {
    margin-top: 30px;
  }

  .row {
    @include media.mobile {
      row-gap: 10px;
    }
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    row-gap: media.fl(50, 40);

    @include media.desktop {
      row-gap: 40px;
    }

    @include media.desktop {
      row-gap: 24px;
    }

    &-title {
      color: #121212;
      font-size: 42px;
      font-size: media.fl(42, 36);
      font-weight: 400;
      line-height: 48px;
      line-height: media.fl(48, 42);
      letter-spacing: -0.84px;

      @include media.desktop {
        font-size: 36px;
        line-height: normal;
        letter-spacing: -0.72px;
      }

      @include media.tablet {
        font-size: 28px;
        line-height: normal;
        letter-spacing: -0.56px;
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      justify-content: space-between;
      background: var(--orange-gradient-radial);
      padding: 50px;
      padding: media.fl(50, 40);
      border-radius: 10px;
      aspect-ratio: 1/1;
      height: auto;

      @include media.desktop {
        row-gap: 24px;
        padding: 40px;
      }

      @include media.tablet {
        padding: 20px;
        row-gap: 65px;
        aspect-ratio: unset;
        height: 100%;
      }

      @include media.mobile {
        row-gap: 24px;
        height: auto;
      }

      &_head {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;

        &-icon {
          display: flex;
          flex-shrink: 0;
          width: 60px;
          width: media.fl(60, 50);
          height: 60px;
          height: media.fl(60, 50);

          @include media.desktop {
            width: 50px;
            height: 50px;
          }

          @include media.tablet {
            width: 40px;
            height: 40px;
          }

          svg {
            width: 100%;
            height: 100%;
          }
        }

        &-count {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          row-gap: media.fl(8, 0);

          @include media.desktop {
            row-gap: 0px;
            align-items: flex-end;
          }

          &-head {
            display: flex;
            column-gap: 20px;
            column-gap: media.fl(20, 10);
            color: #fff;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-weight: 400;
            line-height: 30px;
            line-height: media.fl(30, 24);
            letter-spacing: 0.4px;

            @include media.desktop {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.32px;
              column-gap: 10px;
            }

            @include media.tablet {
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.28px;

              column-gap: 6px;
            }

            &-ot {
              margin-top: 9px;
              margin-top: media.fl(9, 7);

              @include media.desktop {
                margin-top: 7px;
              }

              @include media.tablet {
                margin-top: 5px;
              }
            }

            .count {
              color: #fff;
              text-align: right;
              font-family: var(--font-perfograma), sans-serif;
              font-size: 54px;
              font-size: media.fl(54, 40);
              font-weight: 400;
              line-height: unset;
              height: 64px;
              height: media.fl(64, 50);

              @include media.desktop {
                font-size: 40px;
                height: 50px;
              }

              @include media.tablet {
                font-size: 32px;
                height: 40px;
              }

              @include media.mobile {
              }
            }
          }

          &-title {
            color: #fff;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-weight: 400;
            line-height: 30px;
            line-height: media.fl(30, 24);
            letter-spacing: 0.4px;

            @include media.desktop {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.32px;
            }

            @include media.tablet {
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.28px;
            }
          }
        }
      }

      &_body {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include media.tablet {
          row-gap: 20px;
        }

        &-title {
          color: #fff;
          font-size: 26px;
          font-size: media.fl(26, 20);
          font-weight: 400;
          line-height: 34px;
          line-height: media.fl(34, 28);
          letter-spacing: 0.52px;

          @include media.desktop {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.4px;
          }

          @include media.tablet {
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.36px;
          }
        }

        &-text {
          color: #fff;
          font-size: 20px;
          font-size: media.fl(20, 16);
          font-weight: 400;
          line-height: 28px;
          line-height: media.fl(28, 24);
          letter-spacing: 0.4px;

          @include media.desktop {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
          }

          @include media.tablet {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.28px;
          }

          ul {
            list-style-type: disc;
            padding-left: 25px;

            li {
              margin-bottom: 20px;

              @include media.tablet {
                margin-bottom: 10px;
              }

              &:last-of-type {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

    .product_page_allow_wrap_right {
      background: #fff6f1;
      border: unset;
      height: 100%;
      max-height: 100%;
      overflow: hidden;
      aspect-ratio: 1/1;

      @include media.tablet {
        aspect-ratio: unset;
      }

      &-img {
        justify-content: flex-end;
        padding-right: 90px;

        @include media.desktop {
          padding-right: 25px;
        }

        @include media.tablet {
          padding-right: 30px;
          justify-content: center;
        }

        svg {
          max-height: 100%;
          max-width: 100%;
          width: 495px;
          width: media.fl(495, 455);

          @include media.desktop {
            width: 455px;
            height: auto;
          }

          @include media.tablet {
            width: unset;
          }

          &.show_tablet {
            display: none;

            @include media.tablet {
              display: flex;
            }
          }

          &.hide_tablet {
            @include media.tablet {
              display: none;
            }
          }
        }
      }
    }
  }
}
