.rev_client_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  border-radius: 10px;
  background: radial-gradient(50% 50% at 50% 50%, #036CFE 12.86%, #7DB3FE 100%);
  padding: 30px 30px 40px 30px;
}
@media screen and (max-width: 1599px) {
  .rev_client_wrap {
    padding-bottom: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap {
    padding: 20px 13px;
    margin-left: -13px;
    margin-right: -13px;
    border-radius: 0px;
  }
}
.rev_client_wrap_sw {
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw {
    overflow: visible;
  }
}
.rev_client_wrap_sw_item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item {
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 0px;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item {
    row-gap: 7px;
  }
}
.rev_client_wrap_sw_item-text_block {
  width: 100%;
  max-width: 65%;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item-text_block {
    max-width: 100%;
    flex: 1 1 auto;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item-text_block {
    padding: 20px;
    background: #fff;
    border: 1px solid #E8E8EB;
    border-radius: 10px;
    max-height: 328px;
    flex: unset;
  }
}
.rev_client_wrap_sw_item-text_block-it {
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #E8E8EB;
  background: #FFF;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item-text_block-it {
    max-width: 100%;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: unset;
    padding: 30px 30px 20px 30px;
    height: 100%;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item-text_block-it {
    padding: 0 20px 0 0;
    border-radius: 0px;
    overflow-y: auto;
    background: transparent;
    border: unset;
  }
  .rev_client_wrap_sw_item-text_block-it::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;
  }
  .rev_client_wrap_sw_item-text_block-it::-webkit-scrollbar-track {
    background: #E8E8EB;
  }
  .rev_client_wrap_sw_item-text_block-it::-webkit-scrollbar-thumb {
    background: #006AFE;
    border-radius: 10px;
  }
}
.rev_client_wrap_sw_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(35% - 20px);
  border-radius: 10px;
  border: 1px solid #E8E8EB;
  background: #FFF;
  padding: 40px;
  row-gap: 30px;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info {
    max-width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: unset;
    padding: 20px 30px 30px 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item_info {
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
  }
}
.rev_client_wrap_sw_item_info-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info-avatar {
    max-width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item_info-avatar {
    max-width: 50px;
    height: 50px;
  }
}
.rev_client_wrap_sw_item_info-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rev_client_wrap_sw_item_info_content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info_content {
    row-gap: 10px;
    align-items: flex-start;
    width: 100%;
    max-width: calc(100% - 30px - 100px);
    height: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_sw_item_info_content {
    max-width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}
.rev_client_wrap_sw_item_info_content-name {
  color: #121212;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.52px;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info_content-name {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.36px;
  }
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info_content-descr {
    text-align: left !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_sw_item_info_content-job {
    text-align: left !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
}
.rev_client_wrap_btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_btns {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .rev_client_wrap_btns {
    justify-content: space-between;
  }
}
.rev_client_wrap_btns-prev {
  display: flex;
  position: unset;
  padding: 0px;
  margin: 0px;
  transition: 0.4s;
}
.rev_client_wrap_btns-prev::after {
  display: none;
}
.rev_client_wrap_btns-prev.swiper-button-disabled {
  opacity: 1;
}
.rev_client_wrap_btns-prev.swiper-button-disabled rect {
  stroke: #C9C9C9;
}
.rev_client_wrap_btns-prev.swiper-button-disabled path {
  stroke: #C9C9C9;
}
.rev_client_wrap_btns-next {
  display: flex;
  position: unset;
  padding: 0px;
  margin: 0px;
  transition: 0.4s;
}
.rev_client_wrap_btns-next::after {
  display: none;
}
.rev_client_wrap_btns-next.swiper-button-disabled {
  opacity: 1;
}
.rev_client_wrap_btns-next.swiper-button-disabled rect {
  stroke: #C9C9C9;
}
.rev_client_wrap_btns-next.swiper-button-disabled path {
  stroke: #C9C9C9;
}
.rev_client_wrap_btns .swiper-pagination {
  display: flex;
  align-items: center;
  position: unset;
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;
  border-radius: 12px;
  border: 1px solid #FFF;
  background: #FFF;
  padding: 0 19px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background: transparent;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_btns .swiper-pagination {
    border-radius: 4px;
  }
}
.rev_client_wrap_btns .swiper-pagination-bullet {
  display: flex;
  width: 10px;
  height: 10px;
  aspect-ratio: 1/1;
  margin: 0px;
  padding: 0px;
  background: #fff;
  opacity: 0.5;
  margin: 0 !important;
  transition: 0.4s;
}
@media screen and (max-width: 1199px) {
  .rev_client_wrap_btns .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.rev_client_wrap_btns .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}