@use '../../../app/styles/scss/media';

.landing_products {
  margin-top: 150px;
  margin-top: media.fl(150, 110);

  @include media.desktop {
    margin-top: 110px;
  }

  @include media.tablet {
    margin-top: 60px;
  }

  &_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    row-gap: media.fl(50, 40);

    @include media.desktop {
      row-gap: 40px;
    }

    @include media.tablet {
      row-gap: 24px;
    }

    @include media.mobile {
      row-gap: 30px;
    }
  }

  &-title {
    color: #121212;
    font-size: 42px;
    font-size: media.fl(42, 36);
    font-weight: 400;
    line-height: 48px;
    line-height: media.fl(48, 42);
    letter-spacing: -0.84px;

    @include media.desktop {
      font-size: 36px;
      line-height: normal;
      letter-spacing: -0.72px;
    }

    @include media.tablet {
      font-size: 28px;
      line-height: normal;
      letter-spacing: -0.56px;
    }
  }

  &_slider {
    &_sw {
      min-width: 0px;
      margin: unset;
      overflow: visible;

      &_item {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        row-gap: media.fl(60, 30);
        padding: 40px;
        padding: media.fl(40, 30);
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 24px 84px 0px rgba(0, 0, 0, 0.06);
        height: auto;

        @include media.desktop {
          padding: 30px;
          row-gap: 30px;
        }

        @include media.tablet {
          padding: 20px;
          row-gap: 20px;
          max-width: 41%;
        }

        @include media.mobile {
          max-width: 305px;
          box-shadow: unset;
          border: 1px solid #e8e8eb;
        }

        &_head {
          display: flex;
          align-items: center;
          column-gap: 20px;
          padding: 18px 20px;
          background: var(--purple-linear);
          border-radius: 10px;
          box-shadow: 0px 24px 84px 0px rgba(0, 0, 0, 0.06);

          @include media.desktop {
            padding: 18px 40px 18px 20px;
          }

          @include media.tablet {
            padding: 14px;
          }

          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            flex-shrink: 0;

            svg,
            img {
              width: 100%;
              height: 100%;
            }
          }

          &-text {
            color: #fff;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-weight: 400;
            line-height: 30px;
            line-height: media.fl(30, 24);
            letter-spacing: 0.4px;

            @include media.desktop {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.32px;
            }

            @include media.tablet {
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.24px;
            }
          }
        }

        &_body {
          display: flex;
          flex-direction: column;

          &-model {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            padding: 20px;

            @include media.tablet {
              height: 160px;
            }

            svg,
            img {
              max-height: 100%;
              max-width: 100%;

              @include media.tablet {
                max-width: 160px;
              }
            }
          }

          &-title {
            margin-top: 60px;
            margin-top: media.fl(60, 30);

            color: #353535;
            font-size: 26px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0.52px;

            @include media.desktop {
              margin-top: 30px;
            }

            @include media.tablet {
              margin-top: 20px;

              font-size: 20px;
              line-height: 28px;
              letter-spacing: 0.4px;
            }
          }

          &-text {
            margin-top: 24px;

            color: #353535;
            font-size: 20px;
            font-size: media.fl(20, 16);
            font-weight: 400;
            line-height: 30px;
            line-height: media.fl(30, 24);
            letter-spacing: 0.4px;

            @include media.desktop {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.32px;
            }

            @include media.tablet {
              margin-top: 14px;

              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.24px;
            }
          }
        }
      }
    }
  }

  &.orange {
    .landing_products_slider_sw_item_head {
      background: var(--orange-gradient-linear);
    }
  }

  &.kitchens {
    .landing_products_slider_sw_item_head {
      background: radial-gradient(
        184.54% 140.85% at 97.71% -1.44%,
        #e0a673 0%,
        #a96c3d 39.76%,
        #98542f 59.33%,
        #694026 84.29%,
        #592a0f 100%
      );
    }
  }
}
