@use '../../../../app/styles/scss/media';

// Модалка
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  padding: 20px;

  @include media.desktop {
    padding: 20px;
  }

  @include media.tablet {
    padding: 20px 13px;
  }

  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  display: flex;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  width: 100%;
  max-width: 1115px;
  max-width: clamp(56.25rem, -10.938rem + 67.188vw, 69.688rem);
  // 1115px > 900px
  transform: scale(0.95);
  transition: transform 0.3s ease;

  @include media.desktop {
    max-width: 900px;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: clamp(56.25rem, -10.938rem + 67.188vw, 69.688rem);
    // 1115px > 900px
    background: #fff;
    border-radius: 10px;
    max-height: 100%;
    position: relative;
    padding: 50px;
    padding: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
    // 50px> 40px
    overflow: hidden;
    padding-right: 15px;

    @include media.desktop {
      max-width: 900px;
      padding: 40px;
      padding-right: 15px;
    }

    @include media.tablet {
      padding: 30px 20px;
      padding-right: 10px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-right: 35px;
      overflow-y: auto;

      @include media.desktop {
        padding-right: 25px;
      }

      @include media.tablet {
        padding-right: 10px;
      }
    }
  }
}

.modal-overlay.open .modal-content {
  transform: scale(1);
}

.modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &-icon {
    margin-bottom: 30px;
    margin-bottom: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
    // 30px > 20px
    display: flex;
    justify-content: center;
    width: 50px;
    width: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
    // 50px > 40px
    height: 50px;
    height: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
    // 50px > 40px

    @include media.desktop {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
    }

    @include media.mobile {
      margin-bottom: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    width: 100%;
    max-width: 540px;
    max-width: clamp(28.125rem, 0rem + 28.125vw, 33.75rem);
    // 540px > 450px
    color: #121212;
    text-align: center;
    font-size: 26px;
    font-size: clamp(1.25rem, -0.625rem + 1.875vw, 1.625rem);
    // 26px > 20px
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    line-height: clamp(1.625rem, -0.875rem + 2.5vw, 2.125rem);
    // 34px > 26px
    letter-spacing: 0.52px;

    @include media.desktop {
      font-size: 20px;
      line-height: normal;
      letter-spacing: 0.4px;
      max-width: 450px;
    }

    @include media.tablet {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.36px;
    }

    @include media.mobile {
      color: #121212;
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.56px;
    }
  }
}

.modal-close {
  position: absolute;
  background: #f5f5f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 30px;
  top: clamp(1.563rem, 0rem + 1.563vw, 1.875rem);
  // 30px > 25px
  right: 30px;
  right: clamp(1.563rem, 0rem + 1.563vw, 1.875rem);
  // 30px > 25px

  width: 38px;
  width: clamp(1.875rem, -0.625rem + 2.5vw, 2.375rem);
  // 38px > 30px
  height: 38px;
  height: clamp(1.875rem, -0.625rem + 2.5vw, 2.375rem);
  // 38px > 30px

  cursor: pointer;

  transition: 0.4s;

  @include media.hover {
    opacity: 0.7;
  }

  @include media.desktop {
    top: 20px;
    right: 25px;
    width: 30px;
    height: 30px;
  }

  @include media.tablet {
    top: 20px;
    right: 20px;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  row-gap: media.fl(40, 30);
  margin-top: 40px;

  @include media.desktop {
    row-gap: 30px;
    margin-top: 30px;
  }

  @include media.tablet {
    row-gap: 20px;
  }
}

.subscription-info {
  h3 {
    color: #000;
    font-size: 20px;
    font-size: media.fl(20, 18);
    font-weight: 700;
    line-height: 30px;
    line-height: media.fl(30, 28);
    letter-spacing: 0.4px;

    @include media.desktop {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
    }

    @include media.tablet {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
    }

    // @include media.mobile {
    //    font-size: 16px;
    //    line-height: 20px;
    //    letter-spacing: 0.28px;
    // }
  }

  p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

    @include media.tablet {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: unset;
    }
  }
}
