.partner_page {
  margin-top: 60px;
  margin-top: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
}
@media screen and (max-width: 1599px) {
  .partner_page {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page {
    margin-top: 30px;
  }
}
.partner_page_top {
  width: 100%;
  max-width: 800px;
  max-width: clamp(43.125rem, 8.75rem + 34.375vw, 50rem);
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (max-width: 1599px) {
  .partner_page_top {
    max-width: 690px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_top {
    max-width: 400px;
  }
}
.partner_page_top .section_head-icon {
  animation: rotateIcon 3s forwards infinite;
}
.partner_page_benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  row-gap: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  margin-top: 120px;
  margin-top: clamp(5rem, -7.5rem + 12.5vw, 7.5rem);
}
@media screen and (max-width: 1599px) {
  .partner_page_benefits {
    margin-top: 80px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_benefits {
    margin-top: 60px;
    row-gap: 10px;
  }
}
.partner_page_benefits-title {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .partner_page_benefits-title {
    max-width: 240px;
  }
}
.partner_page_driven {
  margin-top: 180px;
  margin-top: clamp(7.5rem, -11.25rem + 18.75vw, 11.25rem);
}
@media screen and (max-width: 1599px) {
  .partner_page_driven {
    margin-top: 120px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_driven {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_driven .section_title {
    max-width: 350px;
  }
}
.partner_page_driven .data_driven_sw_item {
  height: auto;
  max-height: unset;
}
.partner_page_driven .data_drive_wrap_swipers .data_driven_sw_mobile {
  row-gap: 20px;
}
@media screen and (max-width: 1199px) {
  .partner_page_driven .data_drive_wrap_swipers .data_driven_sw_mobile {
    row-gap: 7px;
  }
}
@media screen and (max-width: 767px) {
  .partner_page_driven .data_drive_wrap_swipers .data_driven_sw_mobile {
    row-gap: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_driven .data_drive_wrap_swipers .data_driven_sw_mobile .data_driven_sw_mobile_item {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
.partner_page_partnership {
  margin-top: 120px;
  margin-top: clamp(6.25rem, 0rem + 8.333vw, 7.5rem);
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership {
    margin-top: 30px;
  }
}
.partner_page_partnership_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  row-gap: clamp(2.5rem, -0.625rem + 4.167vw, 3.125rem);
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap {
    row-gap: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap {
    row-gap: 24px;
  }
}
.partner_page_partnership_wrap_head {
  margin-bottom: 0px;
}
.partner_page_partnership_wrap_head .btn {
  margin-top: 10px;
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap_head .btn {
    margin-top: 0px;
  }
}
.partner_page_partnership_wrap .benefits_item {
  align-items: center;
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap .benefits_item {
    flex-direction: row;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap .benefits_item {
    padding: 15px 13px 15px 15px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .partner_page_partnership_wrap .benefits_item {
    height: auto;
  }
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap .benefits_item_content {
    max-width: calc(100% - 30px - 50px);
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap .benefits_item_content {
    max-width: calc(100% - 20px - 40px);
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap .benefits_item_content .typical_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
}
@media screen and (max-width: 767px) {
  .partner_page_partnership_wrap .benefits_item_content .typical_text {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
}
.partner_page_partnership_wrap .benefits_item_content .custom_link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  -moz-column-gap: clamp(0.313rem, -1.25rem + 1.563vw, 0.625rem);
       column-gap: clamp(0.313rem, -1.25rem + 1.563vw, 0.625rem);
  margin-top: 8px;
  margin-top: clamp(0.25rem, -1rem + 1.25vw, 0.5rem);
  color: #C9C9C9;
  font-size: 18px;
  font-size: clamp(1rem, 0.375rem + 0.625vw, 1.125rem);
  font-weight: 400;
  line-height: 24px;
  text-transform: lowercase;
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link {
    margin-top: 4px;
    -moz-column-gap: 5px;
         column-gap: 5px;
    font-size: 16px;
    font-size: clamp(0.875rem, 0.25rem + 0.833vw, 1rem);
    line-height: 24px;
    line-height: clamp(1.25rem, 0rem + 1.667vw, 1.5rem);
    letter-spacing: 0.32px;
  }
}
@media screen and (max-width: 1199px) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link {
    margin-top: 2px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
}
@media (hover: hover) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link:hover span::after {
    transform-origin: 100% 0%;
    transform: scaleX(0);
  }
}
@media (hover: none) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link:active span::after {
    transform-origin: 100% 0%;
    transform: scaleX(0);
  }
}
.partner_page_partnership_wrap .benefits_item_content .custom_link span {
  position: relative;
}
.partner_page_partnership_wrap .benefits_item_content .custom_link span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: currentColor;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: scaleX(1);
  transform-origin: 0 100%;
  transition: transform 0.4s;
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link span::after {
    bottom: -2px;
  }
}
.partner_page_partnership_wrap .benefits_item_content .custom_link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #C9C9C9;
  padding: 2px 9px 3px 9px;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
}
@media screen and (max-width: 1599px) {
  .partner_page_partnership_wrap .benefits_item_content .custom_link .icon {
    padding: 0px 7px;
  }
}