.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  outline: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
@media screen and (max-width: 1599px) {
  .ReactModal__Overlay {
    padding: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .ReactModal__Overlay {
    padding: 20px 13px;
  }
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  visibility: visible;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
  visibility: hidden;
}
.ReactModal__Overlay.custom_overlay {
  z-index: 122;
}

.ReactModal__Content {
  display: flex;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  width: 100%;
  max-width: 1115px;
  max-width: clamp(56.25rem, -10.938rem + 67.188vw, 69.688rem);
}
@media screen and (max-width: 1599px) {
  .ReactModal__Content {
    max-width: 900px;
  }
}

.remodal.error .title_block {
  max-width: 430px;
  max-width: clamp(20.625rem, -10.625rem + 31.25vw, 26.875rem);
}
@media screen and (max-width: 1599px) {
  .remodal.error .title_block {
    max-width: 330px;
  }
}
@media screen and (max-width: 1199px) {
  .remodal.error .title_block {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .remodal.error .title_block {
    max-width: 400px;
  }
}