.product_modal {
  display: flex;
  width: 100%;
  max-width: 1115px;
  max-width: clamp(56.25rem, -10.938rem + 67.188vw, 69.688rem);
  background: #fff;
  border-radius: 10px;
  max-height: 100%;
  position: relative;
}
@media screen and (max-width: 1599px) {
  .product_modal {
    max-width: 900px;
  }
}
@media screen and (max-width: 767px) {
  .product_modal {
    flex-direction: column;
    background: transparent;
  }
}
.product_modal_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 50px;
  padding: 60px 35px 50px 35px;
  padding-top: clamp(2.5rem, -3.75rem + 6.25vw, 3.75rem);
  padding-bottom: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
  width: 100%;
  max-width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(255, 161, 111);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  .product_modal_left {
    padding: 35px 35px 40px 35px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_left {
    padding: 34px 30px 20px 30px;
    max-width: 243px;
    border-radius: unset;
    background: radial-gradient(50% 49.96% at 50% 50.04%, #f2651a 15.5%, #ffa16f 100%);
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .product_modal_left {
    max-width: 100%;
    flex-direction: row;
    padding: 14px 18px 14px 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.product_modal_left.is_left_btn {
  padding-bottom: 76px;
  padding-bottom: clamp(3.75rem, -1.25rem + 5vw, 4.75rem);
}
@media screen and (max-width: 1599px) {
  .product_modal_left.is_left_btn {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_left.is_left_btn {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .product_modal_left.is_left_btn {
    padding-bottom: 14px;
  }
}
.product_modal_left-circle {
  display: block;
  background: rgb(242, 101, 26);
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  will-change: transform;
  filter: blur(70px);
  opacity: 0;
  transition: opacity 0.6s;
}
@media screen and (max-width: 1199px) {
  .product_modal_left-circle {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
@media screen and (max-width: 767px) {
  .product_modal_left-circle {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
.product_modal_left-circle_static {
  display: block;
  display: block;
  background: rgb(242, 101, 26);
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  will-change: transform;
  filter: blur(70px);
}
@media screen and (max-width: 1199px) {
  .product_modal_left-circle_static {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
@media screen and (max-width: 767px) {
  .product_modal_left-circle_static {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
.product_modal_left_mobile {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 10px 0;
  width: 100%;
  max-width: calc(100% - 110px - 20px);
  position: relative;
  z-index: 2;
}
.product_modal_left_mobile-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}
.product_modal_left_mobile_bot {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.product_modal_left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 220px;
  max-width: clamp(12.5rem, 6.25rem + 6.25vw, 13.75rem);
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1599px) {
  .product_modal_left-image {
    max-width: 200px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_left-image {
    max-width: 110px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .product_modal_left-image {
    max-width: 108px;
  }
}
.product_modal_left-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.product_modal_left-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 7px 13px 7px 16px;
  padding-top: clamp(0.313rem, -0.313rem + 0.625vw, 0.438rem);
  padding-right: clamp(0.75rem, 0.438rem + 0.313vw, 0.813rem);
  padding-bottom: clamp(0.313rem, -0.313rem + 0.625vw, 0.438rem);
  padding-left: clamp(0.75rem, -0.5rem + 1.25vw, 1rem);
  border-radius: 50px;
  background: #f5f5f7;
  color: #121212;
  text-align: center;
  font-family: var(--font-ibm), sans-serif;
  font-size: 18px;
  font-size: clamp(0.875rem, -0.375rem + 1.25vw, 1.125rem);
  font-weight: 400;
  line-height: 24px;
  line-height: clamp(1.25rem, 0rem + 1.25vw, 1.5rem);
  letter-spacing: 0.36px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  transition: 0.4s;
}
@media (hover: hover) {
  .product_modal_left-btn:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .product_modal_left-btn:active {
    opacity: 0.7;
  }
}
@media screen and (max-width: 1599px) {
  .product_modal_left-btn {
    font-size: 14px;
    line-height: normal;
    padding: 5px 12px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_left-btn {
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.24px;
    padding: 5px 12px 6px 12px;
  }
}
.product_modal_left-icon {
  display: flex;
  width: 14px;
  width: clamp(0.625rem, -0.625rem + 1.25vw, 0.875rem);
  height: 14px;
  height: clamp(0.625rem, -0.625rem + 1.25vw, 0.875rem);
}
@media screen and (max-width: 1599px) {
  .product_modal_left-icon {
    width: 10px;
    height: 10px;
  }
}
.product_modal_left-icon svg {
  width: 100%;
  height: 100%;
}
.product_modal_left_bot {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  row-gap: clamp(0.938rem, -0.625rem + 1.563vw, 1.25rem);
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1599px) {
  .product_modal_left_bot {
    row-gap: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_left_bot {
    row-gap: 10px;
  }
}
.product_modal_content {
  padding: 50px 15px 50px 50px;
  padding-top: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
  padding-bottom: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
  padding-left: clamp(2.5rem, -0.625rem + 3.125vw, 3.125rem);
  width: 100%;
  max-width: calc(100% - 300px);
  background: #fff;
  max-height: 100%;
  overflow-y: hidden;
}
@media screen and (max-width: 1599px) {
  .product_modal_content {
    padding: 40px 15px 40px 40px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_content {
    padding: 20px 5px 20px 20px;
    max-width: calc(100% - 243px);
  }
}
@media screen and (max-width: 767px) {
  .product_modal_content {
    max-width: 100%;
    padding-right: 10px;
  }
}
.product_modal_content.is_left_btn {
  padding-bottom: 76px;
  padding-bottom: clamp(3.75rem, -1.25rem + 5vw, 4.75rem);
}
@media screen and (max-width: 1599px) {
  .product_modal_content.is_left_btn {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_content.is_left_btn {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .product_modal_content.is_left_btn {
    padding-bottom: 20px;
  }
}
.product_modal_content_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  row-gap: clamp(0.938rem, -0.625rem + 1.563vw, 1.25rem);
  max-height: 100%;
  overflow-y: auto;
  padding-right: 35px;
  padding-right: clamp(1.563rem, -1.563rem + 3.125vw, 2.188rem);
}
@media screen and (max-width: 1599px) {
  .product_modal_content_wrap {
    row-gap: 15px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_content_wrap {
    row-gap: 14px;
    padding-right: 10px;
  }
}
.product_modal_content-title {
  color: #121212;
  font-size: 26px;
  font-size: clamp(1.25rem, -0.625rem + 1.875vw, 1.625rem);
  font-weight: 400;
  line-height: 34px;
  line-height: clamp(1.75rem, -0.125rem + 1.875vw, 2.125rem);
  letter-spacing: 0.52px;
  padding-right: 50px;
}
@media screen and (max-width: 1599px) {
  .product_modal_content-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_content-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
  }
}
.product_modal_content-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  row-gap: clamp(0.938rem, -0.625rem + 1.563vw, 1.25rem);
}
@media screen and (max-width: 1599px) {
  .product_modal_content-text {
    row-gap: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal_content-text {
    line-height: 22px;
    letter-spacing: 0.28px;
    row-gap: 10px;
  }
}
.product_modal_content-text ul {
  list-style: disc;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.product_modal-close {
  display: flex;
  position: absolute;
  top: 30px;
  top: clamp(1.563rem, 0rem + 1.563vw, 1.875rem);
  right: 30px;
  right: clamp(1.563rem, 0rem + 1.563vw, 1.875rem);
  cursor: pointer;
  width: 38px;
  width: clamp(1.875rem, -0.625rem + 2.5vw, 2.375rem);
  height: 38px;
  height: clamp(1.875rem, -0.625rem + 2.5vw, 2.375rem);
  transition: 0.4s;
}
@media screen and (max-width: 1599px) {
  .product_modal-close {
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal-close {
    top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .product_modal-close {
    position: unset;
    margin: 0 auto;
    margin-bottom: 12px;
  }
}
@media (hover: hover) {
  .product_modal-close:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .product_modal-close:active {
    opacity: 0.7;
  }
}
.product_modal-close svg {
  width: 100%;
  height: 100%;
}
.product_modal .dwn_pdf {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  position: absolute;
  z-index: 2;
  bottom: 32px;
  bottom: clamp(1.438rem, -1.375rem + 2.813vw, 2rem);
}
@media screen and (max-width: 1599px) {
  .product_modal .dwn_pdf {
    bottom: 23px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal .dwn_pdf {
    position: relative;
    bottom: unset;
  }
}
.product_modal .dwn_pdf span {
  color: #fff;
  font-size: 18px;
  font-size: clamp(1rem, 0.375rem + 0.625vw, 1.125rem);
  font-weight: 400;
  line-height: 24px;
  line-height: clamp(1.375rem, 0.75rem + 0.625vw, 1.5rem);
  text-transform: lowercase;
  position: relative;
}
@media screen and (max-width: 1599px) {
  .product_modal .dwn_pdf span {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1199px) {
  .product_modal .dwn_pdf span {
    font-size: 14px;
  }
}
.product_modal .dwn_pdf span::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: scaleX(1);
  transform-origin: 0% 0%;
  transition: transform 0.4s;
}
.product_modal .dwn_pdf .icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.product_modal .dwn_pdf .icon .svg_visible {
  width: 100%;
  height: 100%;
}
.product_modal .dwn_pdf .icon .svg_visible-arrow {
  transform: translateY(0%);
  animation: arrowBot 1s forwards infinite ease-in-out;
}
.product_modal .dwn_pdf .icon .svg_hidden {
  width: 100%;
  height: 100%;
  position: absolute;
}
.product_modal .dwn_pdf .icon .svg_hidden-arrow {
  transform: translateY(-100%);
  animation: arrowTop 1s forwards infinite ease-in-out;
}
.product_modal .dwn_pdf .icon .svg_hidden-bot {
  opacity: 0;
  visibility: hidden;
}
@media (hover: hover) {
  .product_modal .dwn_pdf:hover span::after {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }
}
@media (hover: none) {
  .product_modal .dwn_pdf:active span::after {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }
}
@keyframes arrowBot {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes arrowTop {
  10% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
