@font-face {
    font-family: 'Perfograma';
    src: url('perfograma/Perfograma.woff2') format('woff2'),
        url('perfograma/Perfograma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

