:root {
  --translateX: 0px;
}

.first_block_wrap-scheme {
  position: relative;
  margin-top: 76px;
  height: 280px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap-scheme {
    height: 250px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap-scheme {
    margin-top: 60px;
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme {
    height: 150px;
    margin-top: 50px;
  }
}
.first_block_wrap-scheme svg {
  --translateX: 0px;
  animation-name: transformXsvgNoActive;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  transform: translateX(var(--translateX));
  width: auto;
  height: 100%;
}
.first_block_wrap-scheme svg.active {
  animation-name: transformXsvg;
  animation-duration: 9.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(var(--translateX));
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg.active {
    animation-timing-function: ease-in-out;
    animation-duration: 10.5s;
  }
}
.first_block_wrap-scheme svg .all_group.active .first_group,
.first_block_wrap-scheme svg .all_group.active .logo_group,
.first_block_wrap-scheme svg .all_group.active .mobile_group,
.first_block_wrap-scheme svg .all_group.active .telephone_group,
.first_block_wrap-scheme svg .all_group.active .big_group-item,
.first_block_wrap-scheme svg .all_group.active .last_group,
.first_block_wrap-scheme svg .all_group.active .middle_group-item,
.first_block_wrap-scheme svg .all_group.active .line_group-line {
  animation-name: showScaleElement;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.first_block_wrap-scheme svg .all_group .first_group,
.first_block_wrap-scheme svg .all_group .logo_group,
.first_block_wrap-scheme svg .all_group .mobile_group,
.first_block_wrap-scheme svg .all_group .telephone_group,
.first_block_wrap-scheme svg .all_group .big_group-item,
.first_block_wrap-scheme svg .all_group .last_group,
.first_block_wrap-scheme svg .all_group .middle_group-item,
.first_block_wrap-scheme svg .all_group .line_group-line {
  animation-name: showScaleElementNoActive;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.first_block_wrap-scheme svg .group_anim-item {
  display: block;
  transform-box: border-box;
  transform: scaleX(0);
  transform-origin: 50% 50%;
}
.first_block_wrap-scheme svg .first_group,
.first_block_wrap-scheme svg .logo_group,
.first_block_wrap-scheme svg .mobile_group,
.first_block_wrap-scheme svg .telephone_group,
.first_block_wrap-scheme svg .big_group-item,
.first_block_wrap-scheme svg .last_group,
.first_block_wrap-scheme svg .middle_group-item,
.first_block_wrap-scheme svg .line_group-line {
  animation-name: showScaleElement;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.first_block_wrap-scheme svg .first_group {
  animation-delay: 0.2s;
}
.first_block_wrap-scheme svg .logo_group {
  animation-delay: 1.2s;
}
.first_block_wrap-scheme svg .mobile_group {
  animation-delay: 2.4s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .mobile_group {
    animation-delay: 2.8s;
  }
}
.first_block_wrap-scheme svg .telephone_group {
  animation-delay: 3.6s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .telephone_group {
    anidation-delay: 3.8s;
  }
}
.first_block_wrap-scheme svg .big_group-item {
  display: block;
  transform-box: border-box;
  transform: scaleX(0);
  transform-origin: 50% 50%;
}
.first_block_wrap-scheme svg .big_group-item-1 {
  animation-delay: 4.9s;
}
.first_block_wrap-scheme svg .big_group-item-2 {
  animation-delay: 5s;
}
.first_block_wrap-scheme svg .big_group-item-3 {
  animation-delay: 5.1s;
}
.first_block_wrap-scheme svg .middle_group-item {
  display: block;
  transform-box: border-box;
  transform: scaleX(0);
  transform-origin: 50% 50%;
}
.first_block_wrap-scheme svg .middle_group-item-1 {
  animation-delay: 6.3s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .middle_group-item-1 {
    animation-delay: 6.7s;
  }
}
.first_block_wrap-scheme svg .middle_group-item-2 {
  animation-delay: 6.3s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .middle_group-item-2 {
    animation-delay: 6.7s;
  }
}
.first_block_wrap-scheme svg .last_group {
  animation-delay: 7.6s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .last_group {
    animation-delay: 8.7s;
  }
}
.first_block_wrap-scheme svg .line_group-line {
  display: block;
  transform-box: border-box;
  transform: scaleX(0);
  transform-origin: 0% 50%;
}
.first_block_wrap-scheme svg .line_group .line-1 {
  animation-delay: 1.2s;
}
.first_block_wrap-scheme svg .line_group .line-2 {
  animation-delay: 2.4s;
}
.first_block_wrap-scheme svg .line_group .line-3 {
  animation-delay: 3.6s;
}
.first_block_wrap-scheme svg .line_group .line-4-1 {
  animation-delay: 4.6s;
}
.first_block_wrap-scheme svg .line_group .line-4-2 {
  animation-delay: 4.7s;
}
.first_block_wrap-scheme svg .line_group .line-4-3 {
  animation-delay: 4.8s;
}
.first_block_wrap-scheme svg .line_group .line-5-1 {
  animation-delay: 6.3s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .line_group .line-5-1 {
    animation-delay: 6.7s;
  }
}
.first_block_wrap-scheme svg .line_group .line-5-2 {
  animation-delay: 6.3s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .line_group .line-5-2 {
    animation-delay: 6.7s;
  }
}
.first_block_wrap-scheme svg .line_group .line-6-1 {
  animation-delay: 7.5s;
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme svg .line_group .line-6-1 {
    animation-delay: 8.6s;
  }
}
.first_block_wrap-scheme svg .groups_voice-item {
  transform-origin: 0 15%;
}
.first_block_wrap-scheme svg .groups_voice-item-2 {
  transform-origin: 0 50%;
}
.first_block_wrap-scheme svg .groups_voice-item-3 {
  transform-origin: 0 85%;
}
.first_block_wrap-scheme svg .groups_voice-1 {
  animation: voice1 1s forwards ease-in-out infinite;
}
.first_block_wrap-scheme svg .groups_voice-2 {
  animation: voice2 1s forwards ease-in-out infinite;
}
.first_block_wrap-scheme svg .groups_voice-3 {
  animation: voice3 1s forwards ease-in-out infinite;
}
.first_block_wrap-scheme svg .groups_voice-4 {
  animation: voice4 1s forwards ease-in-out infinite;
}
.first_block_wrap-scheme svg .groups_voice-5 {
  animation: voice5 1s forwards ease-in-out infinite;
}
@keyframes voice1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes voice2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes voice3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes voice4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes voice5 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.first_block_wrap-scheme::after {
  content: "";
  display: block;
  width: 220px;
  height: 100%;
  background: linear-gradient(90deg, #FFF 20%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  left: -120px;
  top: 0px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1199px) {
  .first_block_wrap-scheme::after {
    width: 93px;
    height: 220px;
    left: -13px;
    background: linear-gradient(90deg, #FFF 20%, rgba(255, 255, 255, 0.6) 63.91%, rgba(255, 255, 255, 0) 100%);
  }
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme::after {
    height: 160px;
  }
}
@media screen and (max-width: 767px) {
  .first_block_wrap-scheme::after {
    width: 40px;
    background: linear-gradient(90deg, #FFF 20%, rgba(255, 255, 255, 0.6) 63.91%, rgba(255, 255, 255, 0) 100%);
  }
}
.first_block_wrap-scheme::before {
  content: "";
  display: block;
  width: 220px;
  height: 100%;
  background: linear-gradient(-90deg, #FFF 20%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  right: -120px;
  top: 0px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1199px) {
  .first_block_wrap-scheme::before {
    display: none;
  }
}
@keyframes transformXsvgNoActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes transformXsvg {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(var(--translateX));
  }
}
@media screen and (max-width: 1199px) {
  @keyframes transformXsvg {
    from {
      transform: translateX(40px);
    }
    to {
      transform: translateX(var(--translateX));
    }
  }
}
@keyframes showScaleElementNoActive {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes showScaleElement {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}