.first_block_wrap_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  row-gap: clamp(1rem, -3.375rem + 4.375vw, 1.875rem);
  width: 100%;
  max-width: 1070px;
  max-width: clamp(60rem, 25.625rem + 34.375vw, 66.875rem);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_head {
    row-gap: 16px;
    max-width: 970px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_head {
    max-width: 540px;
  }
}
.first_block_wrap_head-icon {
  display: flex;
  animation-name: rotateIcon;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  width: 60px;
  width: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  height: 60px;
  height: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_head-icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_head-icon {
    width: 40px;
    height: 40px;
  }
}
.first_block_wrap_head-icon svg {
  width: 100%;
  height: 100%;
}
@keyframes rotateIcon {
  0% {
    transform: perspective(2000px) rotateY(0deg);
  }
  50% {
    transform: perspective(2000px) rotateY(180deg);
  }
  100% {
    transform: perspective(2000px) rotateY(0deg);
  }
}
.first_block_wrap_head-title {
  display: block;
  color: #121212;
  text-align: center;
  font-size: 56px;
  font-size: clamp(3.125rem, 1.25rem + 1.875vw, 3.5rem);
  font-weight: 400;
  line-height: 64px;
  line-height: clamp(3.625rem, 1.75rem + 1.875vw, 4rem);
  letter-spacing: -1.32px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_head-title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_head-title {
    font-size: 28px;
    line-height: normal;
    letter-spacing: -0.56px;
  }
}
.first_block_wrap_head-text {
  color: #121212;
  text-align: center;
  font-size: 26px;
  font-size: clamp(1.25rem, -0.625rem + 1.875vw, 1.625rem);
  font-weight: 400;
  line-height: 34px;
  line-height: clamp(1.75rem, -0.125rem + 1.875vw, 2.125rem);
  letter-spacing: 0.52px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_head-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_head-text {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}
.first_block_wrap_head-btn {
  margin-top: 10px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_head-btn {
    margin-top: 14px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_head-btn {
    margin-top: 0px;
  }
}
.first_block_wrap_bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  margin-top: clamp(3.125rem, 0.625rem + 2.5vw, 3.625rem);
  row-gap: 30px;
  row-gap: clamp(1.5rem, -0.375rem + 1.875vw, 1.875rem);
  width: 100%;
  max-width: 1165px;
  max-width: clamp(49.688rem, -65.938rem + 115.625vw, 72.813rem);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot {
    margin-top: 50px;
    row-gap: 24px;
    max-width: 795px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_bot {
    margin-top: 60px;
    max-width: unset;
    width: calc(100% + 26px);
    transform: translateX(-13px);
  }
}
@media screen and (max-width: 767px) {
  .first_block_wrap_bot {
    margin-top: 80px;
  }
}
.first_block_wrap_bot-title {
  color: #C9C9C9;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 20px;
  font-size: clamp(1.125rem, 0.5rem + 0.625vw, 1.25rem);
  font-weight: 400;
  line-height: 28px;
  line-height: clamp(1.625rem, 1rem + 0.625vw, 1.75rem);
  letter-spacing: 0.4px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot-title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_bot-title {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.32px;
  }
}
.first_block_wrap_bot-marquee {
  -moz-column-gap: 50px;
       column-gap: 50px;
  -moz-column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
       column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot-marquee {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.first_block_wrap_bot-marquee .rfm-marquee {
  -moz-column-gap: 50px;
       column-gap: 50px;
  -moz-column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
       column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot-marquee .rfm-marquee {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.first_block_wrap_bot_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  -moz-column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
       column-gap: clamp(1.5rem, -6.625rem + 8.125vw, 3.125rem);
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot_list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.first_block_wrap_bot_list-item {
  display: flex;
  align-items: center;
  width: auto;
  height: 24px;
  height: clamp(1.375rem, 0.75rem + 0.625vw, 1.5rem);
  max-height: 24px;
  max-height: clamp(1.375rem, 0.75rem + 0.625vw, 1.5rem);
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_bot_list-item {
    height: 22px;
    max-height: 22px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_bot_list-item {
    height: 16px;
    max-height: 16px;
  }
}
.first_block_wrap_bot_list-item svg,
.first_block_wrap_bot_list-item img {
  width: auto;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.first_block_wrap_cards {
  margin-top: 120px;
}
@media screen and (max-width: 1599px) {
  .first_block_wrap_cards {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  .first_block_wrap_cards {
    margin-top: 60px;
  }
}