@use '../../../app/styles/scss/media' as *;

.kitchens_get {
  margin-top: fl(120, 80);

  @include desktop {
    margin-top: 80px;
  }

  @include tablet {
    margin-top: 60px;
  }

  &-sw {
    display: flex;
    margin: 0;
    max-width: 100%;
    min-width: 0px;
    padding: fl(60, 50) fl(50, 40);
    border-radius: 10px;
    border: 1px solid #e8e8eb;
    background: #fff;
    overflow: hidden;

    @include desktop {
      padding: 50px 40px;
    }

    @include tablet {
      padding: 30px 15px;
    }

    .swiper-slide {
      height: auto;
      border-radius: 20px;
      background: radial-gradient(
        184.54% 140.85% at 97.71% -1.44%,
        #e0a673 0%,
        #a96c3d 39.76%,
        #98542f 59.33%,
        #694026 84.29%,
        #592a0f 100%
      );

      @include tablet {
        max-width: 47.145%;
      }

      @include mobile {
        max-width: 98%;
      }
    }
  }

  &_el {
    display: flex;
    flex-direction: column;
    row-gap: fl(40, 34);
    padding: fl(40, 34) 10px 10px 10px;
    height: 100%;

    @include desktop {
      padding-top: 34px;
      row-gap: 34px;
    }

    @include tablet {
      row-gap: 17px;
      padding-top: 17px;
    }

    &_head {
      display: flex;
      align-items: center;
      column-gap: 30px;
      padding: 0 fl(13, 11);

      @include desktop {
        padding: 0 11px;
      }

      @include tablet {
        column-gap: 16px;
        padding: 0 20px;
      }

      @include mobile {
        padding: 0 5px;
      }

      &-icon {
        display: flex;
        width: 60px;
        height: 60px;
        flex-shrink: 0;

        svg,
        img {
          width: 100%;
          height: 100%;
        }
      }

      &-title {
        color: #fff;
        font-size: fl(26, 20);
        font-weight: 400;
        line-height: fl(34, 28);
        letter-spacing: 0.52px;

        @include desktop {
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.4px;
        }

        @include tablet {
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.32px;
        }
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      padding: fl(30, 24);
      border-radius: 10px;
      background: #fff;
      flex: 1 1 auto;

      @include desktop {
        padding: 24px;
      }

      @include tablet {
        padding: 20px;
      }

      &-text {
        color: #121212;
        font-size: fl(20, 16);
        font-weight: 400;
        line-height: fl(30, 24);
        letter-spacing: 0.4px;

        @include desktop {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.32px;
        }

        @include tablet {
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.3px;
        }

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          list-style: disc;
          padding-left: 20px;

          &.number {
            list-style: decimal;
          }

          li {
          }
        }

        span {
          color: #006afe;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: 6%;
          text-underline-offset: 20%;
          text-underline-position: from-font;
          cursor: pointer;
          transition: 0.4s;

          @include hover {
            opacity: 0.7;
          }
        }
      }

      &-suitable {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        padding: 20px;
        border-radius: 10px;
        background: #f5f5f7;
        margin-top: fl(40, 14);

        color: #121212;
        font-size: fl(20, 16);
        font-weight: 400;
        line-height: fl(30, 24);
        letter-spacing: 0.4px;

        @include desktop {
          margin-top: 14px;

          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.32px;
        }

        @include tablet {
          padding: 14px;

          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.3px;
        }

        span {
          color: #121212;
          font-size: fl(20, 16);
          font-weight: 400;
          line-height: fl(30, 24);
          letter-spacing: 0.4px;

          @include desktop {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
          }

          @include tablet {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.28px;
          }
        }
      }

      &-btn {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: fl(40, 30);

        @include desktop {
          margin-top: 30px;
        }

        &-icon {
          display: flex;
          width: 14px;
          height: 14px;
          flex-shrink: 0;

          @include tablet {
            width: 10px;
            height: 10px;
          }

          svg,
          img {
            width: 100%;
            height: 100%;
          }
        }

        &-el {
        }
      }
    }
  }
}
