@import '../../../scss/media';

.products {
   scroll-margin-top: 120px;
   scroll-margin-top: 120px;
   scroll-margin-top: clamp(6.25rem, 0rem + 6.25vw, 7.5rem);

   @include desktop {
      scroll-margin-top: 100px;
   }

   @include tablet {
      scroll-margin-top: 30px;
   }

   @include mobile {
      scroll-margin-top: 80px;

      &.open {
         scroll-margin-top: 30px;
      }
   }

   .products_block_wrap {
      border-radius: 10px;
      background: var(--radial);
      padding: 60px 60px;
      padding: fl(60, 40) fl(60, 50);
      overflow: hidden;

      @include desktop {
         padding: 40px 50px;
      }

      @include tablet {
         padding: 30px;
      }

      @include mobile {
         padding: 30px 13px;
         margin: 0 -13px;
         border-radius: unset;
      }
   }

   &_head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      row-gap: 10px;
      column-gap: 10px;

      &-title {}

      &-btn {}
   }

   .row {
      --bs-gutter-x: 60px;

      @include desktop {

         --bs-gutter-x: 50px;
      }
   }

   &_wrap {
      margin-top: 30px;
      margin-top: fl(30, 25);

      // 50px > 40px

      @include desktop {
         margin-top: 25px;
         overflow: visible;

      }

      @include tablet {
         margin-top: 20px;
      }

      @include mobile {
         margin-top: 24px;
      }

      .swiper-slide {
         display: flex;
         will-change: transform;

         @include desktop {
            max-width: 367px;
            height: auto;
         }

         @include tablet {
            max-width: 370px;
         }

         @include mobile {
            max-width: 320px;
         }
      }

      &_item {
         display: flex;
         flex-direction: column;
         background: #FFF;
         overflow: hidden;
         height: 100%;
         position: relative;

         border-radius: 30px;
         border-radius: fl(30, 14);
         background: rgba(255, 255, 255, 0.20);
         box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.50) inset;
         backdrop-filter: blur(25px);

         will-change: transform;

         transition: .4s;

         @include desktop {
            border-radius: 14px;
         }

         @include tablet {
            border-radius: 10px;
         }

         @include hover {
            &::after {
               opacity: 1;
            }

            transform: scale(1.01);
         }

         &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            user-select: none;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 30px;
            box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.30), 0px 0px 50px 0px rgba(255, 255, 255, 0.50) inset;
            opacity: 0;
            transition: .4s;
         }

         &-image {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            height: auto;
            overflow: hidden;
            aspect-ratio: 48/29;

            img {
               max-height: 170px;
               max-height: fl(170, 130);

               @include desktop {
                  max-height: 130px;
               }

               @include tablet {
                  max-height: 120px;
               }
            }
         }

         &_content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px 30px 30px 30px;
            flex: 1 1 auto;

            @include tablet {
               padding: 30px 20px 20px 20px;
            }

         }

         &-title {
            position: relative;
            z-index: 2;
            color: #FFF;
            font-size: 26px;
            font-size: clamp(1.25rem, -0.625rem + 1.875vw, 1.625rem);
            // 26px > 20px
            font-weight: 400;
            line-height: 34px;
            line-height: clamp(1.75rem, -0.125rem + 1.875vw, 2.125rem);
            // 34px > 28px
            letter-spacing: 0.52px;
            min-height: 102px;
            min-height: fl(102, 56);


            @include desktop {
               font-size: 20px;
               line-height: 28px;
               letter-spacing: 0.4px;
               min-height: 56px;
            }

            @include tablet {
               min-height: 84px;
            }

            @include mobile {
               min-height: 112px;
            }
         }

         &_descr {
            display: flex;
            column-gap: 20px;
            margin-top: 50px;
            padding-top: 30px;
            border-top: 1px solid #FFF;

            @include desktop {
               margin-top: 30px;
            }


            p {
               font-family: "IBM Plex Mono";
               font-size: 16px;
               font-size: fl(16, 14);
               font-style: normal;
               font-weight: 400;
               line-height: 24px;
               line-height: fl(24, 22);
               letter-spacing: 0.32px;

               @include desktop {
                  font-size: 14px;
                  line-height: 22px;
                  letter-spacing: 0.28px;
               }

               @include tablet {
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.32px;
               }

               @include mobile {
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: 0.28px;
               }
            }

            &-icon {
               display: flex;
               flex-shrink: 0;
               width: 22px;
               height: 22px;

               svg {
                  width: 100%;
                  height: 100%;
               }
            }
         }

         &-text {
            position: relative;
            z-index: 2;
            font-family: "IBM Plex Mono";

            p {
               margin-bottom: 20px;
               margin-bottom: fl(20, 15);

               @include desktop {
                  margin-bottom: 15px;
               }

               @include tablet {
                  margin-bottom: 10px;
               }

               &:last-child {
                  margin-bottom: 0px;
               }
            }
         }

         &-btn {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
         }
      }
   }
}