.section_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  row-gap: clamp(1rem, -3.375rem + 4.375vw, 1.875rem);
  max-width: 815px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-bottom: clamp(2.5rem, -3.75rem + 6.25vw, 3.75rem);
}
@media screen and (max-width: 1599px) {
  .section_head {
    row-gap: 16px;
    max-width: 885px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .section_head {
    margin-bottom: 24px;
    max-width: 750px;
  }
}
.section_head > *:first-child {
  margin-top: 0px;
}
.section_head > *:last-child {
  margin-bottom: 0px;
}
.section_head-icon {
  display: flex;
  margin-bottom: 10px;
  margin-bottom: clamp(0.5rem, -0.125rem + 0.625vw, 0.625rem);
  width: 60px;
  width: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  height: 60px;
  height: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
}
@media screen and (max-width: 1599px) {
  .section_head-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1199px) {
  .section_head-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
  }
}
.section_head-icon svg {
  width: 100%;
  height: 100%;
}
.section_head-title {
  color: #121212;
  text-align: center;
  font-size: 42px;
  font-size: clamp(2.25rem, 0.375rem + 1.875vw, 2.625rem);
  font-weight: 400;
  line-height: 48px;
  line-height: clamp(2.625rem, 0.75rem + 1.875vw, 3rem);
  letter-spacing: -0.84px;
}
@media screen and (max-width: 1599px) {
  .section_head-title {
    font-size: 36px;
    font-size: clamp(1.75rem, -0.75rem + 3.333vw, 2.25rem);
    line-height: normal;
    letter-spacing: -0.72px;
  }
}
@media screen and (max-width: 1199px) {
  .section_head-title {
    font-size: 28px;
    line-height: normal;
    letter-spacing: -0.56px;
  }
}
.section_head-title.white {
  color: #FFF;
}