.data_drive .container {
  overflow: visible;
}
.data_drive_wrap_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.data_drive_wrap_left_btns {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.data_drive_wrap_left_btns-prev {
  display: flex;
  position: unset;
  padding: 0px;
  margin: 0px;
  transition: 0.4s;
}
.data_drive_wrap_left_btns-prev::after {
  display: none;
}
.data_drive_wrap_left_btns-prev.swiper-button-disabled {
  opacity: 1;
}
.data_drive_wrap_left_btns-prev.swiper-button-disabled rect {
  stroke: #C9C9C9;
}
.data_drive_wrap_left_btns-prev.swiper-button-disabled path {
  stroke: #C9C9C9;
}
.data_drive_wrap_left_btns-next {
  display: flex;
  position: unset;
  padding: 0px;
  margin: 0px;
  transition: 0.4s;
}
.data_drive_wrap_left_btns-next::after {
  display: none;
}
.data_drive_wrap_left_btns-next.swiper-button-disabled {
  opacity: 1;
}
.data_drive_wrap_left_btns-next.swiper-button-disabled rect {
  stroke: #C9C9C9;
}
.data_drive_wrap_left_btns-next.swiper-button-disabled path {
  stroke: #C9C9C9;
}
.data_drive_wrap_left_btns .swiper-pagination {
  display: flex;
  align-items: center;
  position: unset;
  padding: 0px;
  margin: 0px;
  width: auto;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #C9C9C9;
  background: #FFF;
  padding: 0 19px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.data_drive_wrap_left_btns .swiper-pagination-bullet {
  display: flex;
  width: 10px;
  height: 10px;
  aspect-ratio: 1/1;
  margin: 0px;
  padding: 0px;
  background: #E8E8EB;
  opacity: 1;
  margin: 0 !important;
  transition: 0.4s;
}
.data_drive_wrap_left_btns .swiper-pagination-bullet-active {
  background: #006AFE;
}
.data_drive_wrap_swipers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 1199px) {
  .data_drive_wrap_swipers {
    display: block;
    margin-top: 24px;
  }
}
.data_drive_wrap_swipers_item {
  background: #FBFBFB;
  padding: 30px;
  padding: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  width: 100%;
  max-width: 710px;
  max-width: clamp(35.125rem, -11.125rem + 46.25vw, 44.375rem);
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item {
    padding: 20px;
    max-width: 562px;
  }
}
.data_drive_wrap_swipers_item.item_first .cube_empty {
  width: 310px;
  width: clamp(10.563rem, -33.5rem + 44.063vw, 19.375rem);
  height: calc(100% - 30px + 52px);
  background: transparent;
  position: absolute;
  right: 100%;
  bottom: 30px;
  bottom: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  border-right: 2px solid rgba(232, 232, 235, 0.5);
  border-bottom: 2px solid rgba(232, 232, 235, 0.5);
  border-bottom-right-radius: 30px;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_first .cube_empty {
    width: 169px;
    height: calc(100% - 20px + 61px);
    bottom: 20px;
  }
}
.data_drive_wrap_swipers_item.item_first::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #FFF;
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
  bottom: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  right: 100%;
  z-index: -3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_first::after {
    bottom: 20px;
  }
}
.data_drive_wrap_swipers_item.item_first::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #FBFBFB;
  position: absolute;
  bottom: 30px;
  bottom: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  right: 100%;
  z-index: -3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_first::before {
    bottom: 20px;
  }
}
.data_drive_wrap_swipers_item.item_second {
  right: 260px;
  right: clamp(6.938rem, -39.625rem + 46.563vw, 16.25rem);
  margin-top: -30px;
  margin-top: calc(0px - clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem));
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_second {
    margin-top: -20px;
    right: 111px;
  }
}
.data_drive_wrap_swipers_item.item_second .cube_empty {
  width: 310px;
  width: clamp(10.563rem, -33.5rem + 44.063vw, 19.375rem);
  height: calc(100% - 30px + 52px);
  background: transparent;
  position: absolute;
  left: 100%;
  top: 30px;
  top: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  border-left: 2px solid rgba(232, 232, 235, 0.5);
  border-top: 2px solid rgba(232, 232, 235, 0.5);
  border-top-left-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_second .cube_empty {
    width: 169px;
    height: calc(100% - 20px + 61px);
    top: 20px;
  }
}
.data_drive_wrap_swipers_item.item_second::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #FFF;
  border-radius: 15px;
  position: absolute;
  left: 100%;
  top: 30px;
  top: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  z-index: -3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_second::after {
    top: 20px;
  }
}
.data_drive_wrap_swipers_item.item_second::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #FBFBFB;
  position: absolute;
  left: 100%;
  top: 30px;
  top: clamp(1.25rem, -1.875rem + 3.125vw, 1.875rem);
  z-index: -3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item.item_second::before {
    top: 20px;
  }
}
.data_drive_wrap_swipers_item .line_top {
  display: flex;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 104px);
  height: 2px;
  background: rgba(232, 232, 235, 0.5);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .line_top {
    width: calc(100% + 119px);
  }
}
.data_drive_wrap_swipers_item .line_right {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  width: 2px;
  height: calc(100% + 104px);
  background: rgba(232, 232, 235, 0.5);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .line_right {
    height: calc(100% + 122px);
  }
}
.data_drive_wrap_swipers_item .line_bottom {
  display: flex;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 104px);
  height: 2px;
  background: rgba(232, 232, 235, 0.5);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .line_bottom {
    width: calc(100% + 119px);
  }
}
.data_drive_wrap_swipers_item .line_left {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2px;
  width: 2px;
  height: calc(100% + 104px);
  background: rgba(232, 232, 235, 0.5);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .line_left {
    height: calc(100% + 122px);
  }
}
.data_drive_wrap_swipers_item .data_driven_sw {
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #E8E8EB;
}
.data_drive_wrap_swipers_item .data_driven_sw_item {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  -moz-column-gap: clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem);
       column-gap: clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem);
  padding: 49px;
  padding: clamp(2.438rem, -0.688rem + 3.125vw, 3.063rem);
  min-height: 232px;
  min-height: clamp(13.125rem, 6.25rem + 6.875vw, 14.5rem);
  height: 232px;
  height: clamp(13.125rem, 6.25rem + 6.875vw, 14.5rem);
  max-height: 232px;
  max-height: clamp(13.125rem, 6.25rem + 6.875vw, 14.5rem);
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .data_driven_sw_item {
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 39px;
    height: 210px;
    min-height: 210px;
    max-height: 210px;
  }
}
.data_drive_wrap_swipers_item .data_driven_sw_item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60px;
  max-width: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  height: 60px;
  height: clamp(3.125rem, 0rem + 3.125vw, 3.75rem);
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .data_driven_sw_item-icon {
    max-width: 50px;
    height: 50px;
  }
}
.data_drive_wrap_swipers_item .data_driven_sw_item-icon svg {
  width: 100%;
  height: 100%;
}
.data_drive_wrap_swipers_item .data_driven_sw_item_content {
  width: 100%;
  max-width: calc(100% - 50px - 60px);
  max-width: calc(100% - clamp(1.875rem, -4.375rem + 6.25vw, 3.125rem) - clamp(3.125rem, 0rem + 3.125vw, 3.75rem));
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .data_driven_sw_item_content {
    max-width: calc(100% - 30px - 50px);
  }
}
.data_drive_wrap_swipers_item .data_driven_sw_item_content_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  row-gap: clamp(1rem, -0.25rem + 1.25vw, 1.25rem);
  max-height: 100%;
  overflow-y: auto;
  margin-right: -25px;
  padding-right: 25px;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .data_driven_sw_item_content_wrap {
    row-gap: 16px;
  }
}
.data_drive_wrap_swipers_item .data_driven_sw_item_content-title {
  color: #121212;
  font-size: 26px;
  font-size: clamp(1.25rem, -0.625rem + 1.875vw, 1.625rem);
  font-weight: 400;
  line-height: 34px;
  line-height: clamp(1.75rem, -0.125rem + 1.875vw, 2.125rem);
  letter-spacing: 0.52px;
}
@media screen and (max-width: 1599px) {
  .data_drive_wrap_swipers_item .data_driven_sw_item_content-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
  }
}
.data_drive_wrap_swipers .data_driven_sw_mobile {
  margin: 0;
  overflow: visible;
}
.data_drive_wrap_swipers .data_driven_sw_mobile_item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 19px;
  border-radius: 10px;
  border: 1px solid #E8E8EB;
  background: #FFF;
  max-width: 305px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .data_drive_wrap_swipers .data_driven_sw_mobile_item {
    max-width: 320px;
  }
}
.data_drive_wrap_swipers .data_driven_sw_mobile_item-icon {
  display: flex;
  width: 40px;
  height: 40px;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.data_drive_wrap_swipers .data_driven_sw_mobile_item-icon svg {
  width: 100%;
  height: 100%;
}
.data_drive_wrap_swipers .data_driven_sw_mobile_item_content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.data_drive_wrap_swipers .data_driven_sw_mobile_item_content-title {
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.data_drive_wrap .data_drive_wrap_left_btns_block {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 1199px) {
  .data_drive_wrap .data_drive_wrap_left_btns_block {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .data_drive_wrap .data_drive_wrap_left_btns_block .btn {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .data_drive_wrap .data_drive_wrap_left_btns_block .btn {
    width: 100%;
    max-width: calc(50% - 5px);
  }
}